.wrapper {
  display: flex;
  justify-content: center;
  .users__list {
    user-select: none;
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow-y: scroll;
    width: 100vw;
    height: calc(100vh - 80px);
    position: relative;
    box-shadow: 0 1px 3px #6868689c;

    &::-webkit-scrollbar {
      display: none;
    }

    .card {
      word-wrap: break-word;
      background-color: #fff;
      background-clip: border-box;
      border-radius: 0.75rem;
      box-shadow: 0 0 30px 0 rgba(82, 63, 105, 0.05);
      width: 100%;
    }
  }
}

@media screen and (min-width: 1025px) {
  .users__list {
    border-radius: 6px;
    max-width: 50%;
  }
}
