<h3 class="payment-modal--title color-primary">Qual é o valor do pagamento?</h3>
<small class="payment-modal--smalltext color-gray-primary"
  >Selecione o valor para do pagamento para <strong>{{ user?.name }}</strong
  >.</small
>

<form [formGroup]="selectAmountForm">
  <mat-form-field class="edit-value">
    <input
      matInput
      (input)="handleValueFormat(paymentAmount)"
      #paymentAmount
      formControlName="paymentAmount"
      id="paymentAmountInput"
    />
    <mat-error
      *ngIf="
        selectAmountForm?.controls?.paymentAmount?.errors?.required &&
        selectAmountForm?.controls?.paymentAmount?.touched
      "
      >Campo obrigatório</mat-error
    >
  </mat-form-field>
</form>

<div class="bottom-action">
  <button
    (click)="setActiveStep()"
    mat-fab
    color="primary"
    aria-label="Example icon button with a delete icon"
    [disabled]="selectAmountForm?.invalid"
    id="confirmData"
  >
    <mat-icon>navigate_next</mat-icon>
  </button>
</div>
