<div class="payment" *ngIf="!payed">
    <form class="payment__form" [formGroup]='paymentForm' (ngSubmit)=onSubmit()>
      <div class="payment__title">
        {{ modalData.title }}
        <button type="button" class="payment__close" (click)="close()">X</button>
      </div>
  
      <div class="payment__content">
        <img class="payment__img" [src]="modalData.img"/>
        <input 
        class="payment__input"
        currencyMask 
        formControlName='payment_value'
        />
        <p *ngIf="paymentForm.controls['payment_value'].invalid && 
        (paymentForm.controls['payment_value'].touched || paymentForm.controls['payment_value'].errors?.min)" 
        class="payment__feedback">
          Por favor digite um valor para pagamento
        </p>
        <div class="cards">
          <select class="payment__select" [(ngModel)]="card" (change)=getInfo($event.target.value) [ngModelOptions]="{standalone: true}">
            <option disabled selected [ngValue]="undefined">Selecione o cartão</option> 
            <option *ngFor="let card of cardList; index as i" [value]='i'>Cartão com final {{card.card_number | slice:12}}</option>
          </select>
        </div>
        <button type="submit" class="payment__btn" [disabled]="!paymentForm.valid">
          Pagar
        </button>
      </div>
    </form>
  </div>
  <mat-spinner *ngIf="showSpinner"></mat-spinner>