<div class="modal-backdrop" *ngIf="!bla">
    <form class="modal" [formGroup]='paymentForm' (ngSubmit)=onSubmit()>
      <div class="title">{{ modalData.title }}</div>
  
      <div class="content">
        <input currencyMask formControlName='payment_value' [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }" />
  
        <div class="cards">
          <select [(ngModel)]="card" (change)=getInfo($event.target.value) [ngModelOptions]="{standalone: true}">
            <option disabled selected [ngValue]="undefined">Selecione o cartão</option> 
            <option *ngFor="let card of cardList; index as i" [value]='i'>Cartão com final {{card.card_number | slice:12}}</option>
          </select>
        </div>
  
        <button type="submit" mat-dialog-close class="pay-button" [disabled]="!paymentForm.valid">
          Pagar
        </button>
      </div>
    </form>
  </div>
  