header {
	height: 80px;
    display: flex;
    align-items: center;
    padding: 0 40px;
	position: sticky;
    top: 0;
    background: #eff0e8;

	& .logo {
		fill: #21c25e;
		width: 120px;
		height: auto;
	}
}
