<!-- Transaction Form Dialog -->
<div class="c-transactions-dialog">
  <h2 mat-dialog-title class="c-transactions-dialog__title">
    Pagamento para
    <span class="c-transactions-dialog__title--user-name">{{
      selectedUser.username
    }}</span>
  </h2>

  <mat-dialog-content class="c-transactions-dialog__content">
    <form [formGroup]="selectedUser.form">
      <mat-form-field>
        <mat-label>Valor</mat-label>
        <input
          matInput
          type="number"
          min="0"
          step="1,00"
          placeholder="R$ 0,00"
          formControlName="amount"
          class="c-transactions-dialog__content--value-input"
        />
      </mat-form-field>

      <mat-form-field>
        <mat-label>Cartão</mat-label>
        <mat-select
          formControlName="cards"
          class="c-transactions-dialog__content--card-select"
        >
          <mat-option value="{{ selectedUser.cards[0].card_number }}"
            >Cartão Valido
          </mat-option>
          <mat-option value="{{ selectedUser.cards[1].card_number }}"
            >Cartão Invalido
          </mat-option>
        </mat-select>
      </mat-form-field>
    </form>
  </mat-dialog-content>

  <mat-dialog-actions class="c-transactions-dialog__actions">
    <button
      mat-button
      mat-dialog-close="false"
      type="button"
      class="c-transactions-dialog__actions--cancel-button"
    >
      Cancelar
    </button>
    <button
      mat-raised-button
      type="button"
      [disabled]="!selectedUser.form.valid"
      class="c-transactions-dialog__actions--confirm-button"
      (click)="onCloseDialog()"
    >
      Pagar
    </button>
  </mat-dialog-actions>
</div>
