<!-- Transaction Form Dialog -->
<div class="c-transactions-dialog">
  <h2 mat-dialog-title class="c-transactions-dialog__title">
    Pagamento para
    <span class="c-transactions-dialog__title--user-name">{{
      transactionsDialogData.selectedUser.username
    }}</span>
  </h2>

  <mat-dialog-content class="c-transactions-dialog__content">
    <form [formGroup]="transactionForm">
      <mat-form-field>
        <mat-label>Valor</mat-label>
        <input
          matInput
          type="number"
          min="0"
          step="1,00"
          placeholder="R$ 0,00"
          formControlName="amount"
          class="c-transactions-dialog__content--value-input"
        />
      </mat-form-field>

      <mat-form-field>
        <mat-label>Cartão</mat-label>
        <mat-select
          formControlName="cards"
          class="c-transactions-dialog__content--card-select"
        >
          <mat-option
            *ngFor="let card of transactionsDialogData.cards"
            [value]="card.card_number"
          >
            {{ card.card_number }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </form>
  </mat-dialog-content>

  <mat-dialog-actions class="c-transactions-dialog__actions">
    <button
      mat-button
      type="button"
      class="c-transactions-dialog__actions--cancel-button"
      (click)="onCancel()"
    >
      Cancelar
    </button>
    <button
      mat-raised-button
      type="button"
      [disabled]="!transactionForm.valid"
      class="c-transactions-dialog__actions--confirm-button"
      (click)="onCloseDialog()"
    >
      Pagar
    </button>
  </mat-dialog-actions>
</div>
