@import '../tokens';

$colorTokens: map-get($tokens, 'color');
$borderRadiusTokens: map-get($tokens, 'borderRadius');

$borderRadius-pill: map-get($borderRadiusTokens, 'pill');
$borderRadius-circle: map-get($borderRadiusTokens, 'circle');

@mixin border-radius($value) {
    border-radius: map-get($borderRadiusTokens, $value);
}

@mixin border-radius-top($value) {
    border-radius: map-get($borderRadiusTokens, $value) map-get($borderRadiusTokens, $value) 0 0;
}

@mixin border-radius-bottom($value) {
    border-radius: 0 0 map-get($borderRadiusTokens, $value) map-get($borderRadiusTokens, $value);
}

@mixin border($pixel, $color, $opacity: 1) {
    border: $pixel solid rgba(map-get($colorTokens, $color), $opacity) !important;
}

@mixin border-bottom($pixel, $color, $opacity: 1) {
    border-bottom: $pixel solid rgba(map-get($colorTokens, $color), $opacity) !important;
}

@mixin border-top($pixel, $color, $opacity: 1) {
    border-top: $pixel solid rgba(map-get($colorTokens, $color), $opacity) !important;
}

@mixin border-left($pixel, $color, $opacity: 1) {
    border-left: $pixel solid rgba(map-get($colorTokens, $color), $opacity) !important;
}

@mixin border-right($pixel, $color, $opacity: 1) {
    border-right: $pixel solid rgba(map-get($colorTokens, $color), $opacity) !important;
}

.app-borderRadius-pill { border-radius: $borderRadius-pill; }
.app-borderRadius-circle { border-radius: $borderRadius-circle; }

