@import '../tokens';

$colorTokens: map-get($tokens, 'color');

$clr-alabaster: map-get($colorTokens, 'alabaster');
$clr-tundora: map-get($colorTokens, 'tundora');
$clr-silver-chalice: map-get($colorTokens, 'silver-chalice');
$clr-primary: map-get($colorTokens, 'primary');
$clr-white: map-get($colorTokens, 'white');
$clr-gallery: map-get($colorTokens, 'gallery');
$clr-danger: map-get($colorTokens, 'danger');

@mixin color($color, $opacity: 1) {
    color: rgba(map-get($colorTokens, $color), $opacity) !important;
}

@mixin background-color($color, $opacity: 1) {
    background-color: rgba(map-get($colorTokens, $color), $opacity) !important;
}

@mixin background-linear-gradient($from, $to) {
    background: $to !important;
    background: -moz-linear-gradient(top, $from 0%, $to 100%) !important;
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,$from), color-stop(100%,$to)) !important;
    background: -webkit-linear-gradient(top, $from 0%,$to 100%) !important;
    background: -o-linear-gradient(top, $from 0%,$to 100%) !important;
    background: linear-gradient(to right, $from 0%,$to 100%) !important;
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#{$from}, endColorstr=#{$to}) !important;
}

.app-clr-alabaster { @include color('alabaster'); }
.app-clr-tundora { @include color('tundora'); }
.app-clr-silver-chalice { @include color('silver-chalice'); }
.app-clr-primary { @include color('primary'); }
.app-clr-white { @include color('white'); }
.app-clr-gallery { @include color('gallery'); }
.app-clr-danger { @include color('danger'); }

.app-bg-alabaster { @include background-color('alabaster'); }
.app-bg-tundora { @include background-color('tundora'); }
.app-bg-silver-chalice { @include background-color('silver-chalice'); }
.app-bg-primary { @include background-color('primary'); }
.app-bg-white { @include background-color('white'); }
.app-bg-gallery { @include background-color('gallery'); }
.app-bg-danger { @include background-color('danger'); }
