@import '../tokens';

$textTokens: map-get($tokens, 'text');
$textSizeTokens: map-get($tokens, 'textSize');

@mixin fontFamily($family) {
    font-family: map-get($textTokens, $family);
}

@mixin fontSize($size) {
    font-size: map-get($textSizeTokens, $size);
}

@mixin font-heading {
    font-weight: 700;
    @include fontFamily('primary');
    @include fontSize('heading');
}

@mixin font-display {
    font-weight: 400;
    @include fontFamily('primary');
    @include fontSize('display');
}

@mixin font-normal {
    font-weight: 400;
    @include fontFamily('primary');
    @include fontSize('normal');
}

@mixin font-small {
    font-weight: 400;
    @include fontFamily('primary');
    @include fontSize('small');
}

.app-font-size-heading { @include font-heading; }
.app-font-size-display { @include font-display; }
.app-font-size-normal { @include font-normal; }
.app-font-size-small { @include font-normal; }

.app-font-primary { @include fontFamily('primary'); }

