body{
    background: #EFF7FE;
  padding-top: 15px;
}

.profile-header{
background-color: #11C76F;
height:150px;
}
.user-detail{
margin:-30% 0px 30px 0px;
}
.user-detail img{
height:100px;
width:100px;
}
.user-detail h5{
margin:15px 0px 25px 0px;
font-size: 22px;;
color: #fff;
}
