<mat-toolbar class="app-dialog-toolbar">
    <h6 class="app-dialog-title">{{data.title}}</h6>
    <button mat-icon-button class="app-dialog-close" (click)="close()">
        <mat-icon>close</mat-icon>
    </button>
</mat-toolbar>

<app-dialog-content *ngIf="data.description">
    <div class="text-center">
        <p class="app-dialog-description" [innerHTML]="data.description"></p>
        <div class="pt-4">
            <button appButtonPrimary (click)="close()">Ok</button>
        </div>
    </div>
</app-dialog-content>