.users {
  display: flex;
  align-items: center;
  flex-direction: column;
  
  .user {
    background: white;
    box-shadow: 0 1px 0 var(--black), 0px -1px 0px var(--black);
    color: var(--white);
    padding: 20px 40px;
    display: flex;
    max-width: 442px;
    align-items: center;
  }

  .user > img {
    border-radius: 50%;
    height: 80px;
    width: 80px;
  }

  .user > .info-wrapper {
    color: var(--black);
    width: 100%;
    margin-left: 16px;

    .name {
      font-weight: bold;
      color: var(--primary);
    }

    .username {
      color: var(--grey);
      font-weight: bold;
    }
  }

  .user > .pay-button {
    outline: none;
    border: none;
    background-color: var(--primary);
    padding: 7px;
    border-radius: 5px;
    cursor: pointer;
    color: var(--white);

    &.pay-button:hover {
      background-color: var(--secondary);
      transition: all 1 ease;
    }
  }
}