@import '../../../../../assets/styles/_cores';

.modal {
  width: 400px;
  
  background: $branco;
  border-radius: 5px;

  &__title {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      width: 150px;
      padding: 20px 15px;
    }
  }

  &__conteudo {
    width: 100%;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    span:first-child {
      font-size: 20px;
      font-weight: 500;
      
      padding: 15px;
      color: $verde-principal;
    }

    span:last-child {
      font-size: 18px;
      text-align: center;
    }

  }

  &__rodape {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 15px;

    button {
      width: 100%;
      height: 48px;
      
      border: none;
      border-radius: 20px;
      background: $verde-principal;
      
      font-weight: 600;
      font-size: 20px;
      color: $branco;
      cursor: pointer;
    }
  }
}

@media(max-width: 720px) {
  .modal {
    width: 90%;
  }
}