<div class="modal-backdrop">
    <div class="modal">
        <div class="title">Pagamento para <span>{{nomeUsuario}}</span></div>

        <div class="content">
            <input #valorPagamento type="text" placeholder="R$ 0,00" />

            <app-drop-down class="cards" (valorSelecionadoEmited)="valorSelecionado($event)" [arrayDrop]="cartoes">
            </app-drop-down>

            <app-botao [nomeBotao]="'Cancelar'" [typeButton]="'typeModal'" (click)="fechar()"></app-botao>

            <app-botao [nomeBotao]="'Pagar'" [typeButton]="'typeModal'" (click)="pagar()"></app-botao>

        </div>
    </div>
</div>