<!-- Transaction Confirmation Dialog -->
<div class="c-transactions-confirmation-dialog">
  <h2 mat-dialog-title class="c-transactions-confirmation-dialog__title">
    Recibo de pagamento
  </h2>

  <mat-dialog-content class="c-transactions-confirmation-dialog__content">
    <div *ngIf="transactionApproval.success === true">
      O pagamento foi concluido com sucesso
    </div>
    <div *ngIf="transactionApproval.success === false">
      O pagamento <strong>não</strong> foi concluido com sucesso
    </div>
  </mat-dialog-content>

  <mat-dialog-actions class="c-transactions-confirmation-dialog__actions">
    <button
      mat-raised-button
      type="button"
      class="c-transactions-confirmation-dialog__actions--confirm-button"
      mat-dialog-close
    >
      OK
    </button>
  </mat-dialog-actions>
</div>
