$textMap: (
  primary: 'Montserrat'
);

$textSizeMap: (
  'heading': 18px,
  'display': 14px,
  'normal': 16px
);

$colorMap: (
  'alabaster': #f9f9f9,
  'tundora': #4a4a4a,
  'silver-chalice': #b0b0b0,
  'primary': #26cc98,
  'white': #ffffff,
  'gallery': #eaeaea,
  'danger': #f44336
);

$borderRadiusMap: (
  'md': 6px,
  'lg': 16px,
  'pill': 50px,
  'circle': 100%
);

$tokens: (
  text: $textMap,
  textSize: $textSizeMap,
  color: $colorMap,
  borderRadius: $borderRadiusMap
);
