$textMap: (
  primary: 'Montserrat'
);

$textSizeMap: (
  'heading': 40px,
  'display': 30px,
  'normal': 20px
);

$colorMap: (
  'light': #f9f9f9,
  'dark': #4a4a4a,
  'neutral-light': #b0b0b0,
  'primary': #26cc98
);

$borderRadiusMap: (
  'pill': 50px,
  'circle': 100%
);

$tokens: (
  text: $textMap,
  textSize: $textSizeMap,
  color: $colorMap,
  borderRadius: $borderRadiusMap
);
