$white: #FFF;
// $background: #F2F3F5;
$background: #fafafa;
$grey-line: #DCDDE0;
$text: #666666;
$text-lightgrey : #8f9bb3;
$text-highlight: #B3B9FF;
$title: #2E384D;
$red: #E83F5B;
$green: #4CD62B;
$pp-green: #51d67b;
$blue: #5965E0;
$blue-dark: #4953B8;
$blue-twitter: #2AA9E0;