
<div class="modal-backdrop" [ngClass]="!open ? 'modal-backdrop--hidden' : ''">
  <div class="modal">
		<div class="modal__header">
			<h2 class="modal__title">{{title}}</h2>
			<i (click)="openModal(false)" class="modal__close fas fa-times"></i>
		</div>

		<div class="modal__content">
			<ng-content></ng-content>
		</div>
  </div>
</div>


<!-- <div class="modal">
	<div class="title">Pagamento para <span>Nome do Usuário</span></div>

	<div class="content"> 
		<input type="number" placeholder="R$ 0,00" />

		<div class="cards">
			<select>
				<option selected>Cartão com final 0123</option>
			</select>
		</div>

		<button type="button" class="pay-button">
			Pagar
		</button>
	</div>
</div>

<div class="modal">
	<div class="title">
		Recibo de pagamento
	</div>

	<div class="content">
		O pagamento foi concluido com sucesso.<br />
		O pagamento <strong>não</strong> foi concluido com sucesso.
	</div>
</div> -->

