<div class="modal-backdrop">
  <div class="modal">
    <div class="title">Pagamento para <span>{{ name }}</span></div>

    <div class="content">
      <form [formGroup]="payForm" (submit)="payUser(payForm)">
        <input type="text" name="txtamount" appCurrencyMask formControlName="payValue" placeholder="0.00"/> 

        <div class="cards">
          <select formControlName="selectedCard">
            <option *ngFor="let card of cards" [ngValue]="card">Cartão com final {{ card.card_number | cardFilter }}</option>
          </select>
        </div>
        <button type="submit" class="pay-button" [disabled]="payForm.invalid">
          Pagar
        </button>
      </form>
    </div>

    <ng-template #template>
      <pre>{{ isApproved }}</pre>
      <app-confirm-payment [card]="card" [isApproved]="isApproved"></app-confirm-payment>
    </ng-template>
  </div>
</div>