@import 'src/assets/styles/theme/theming';

:host {
  .mat-card {
    text-transform: capitalize;
  }
  .user-card-paid {
    background-color: mat-color($theme-accent, darker) !important;
  }
  .user-card-button {
    button {
      text-transform: uppercase;
    }
    max-width: 350px;
    width: 100%;
  }
  .--data-username {
    text-transform: lowercase;
  }
}
