<mat-card [ngClass]="{'user-card-paid': isPaid}" [matTooltip]="isPaid ? user.name + ' ' + (vocabulary.paid | translate) : ''">

  <mat-card-content fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxLayoutAlign="space-between center"
    fxLayoutGap.xs="8px" fxLayoutGap.sm="8px" fxLayoutGap.md="16px">
    <div>
      <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxLayoutAlign="space-between center">
        <div fxLayoutAlign="center center">
          <figure class="image">
            <img class="is-rounded" [src]="user.img" [alt]="user.name" />
          </figure>
        </div>
        <div>
          <p>
            <span class="label">{{vocabulary.name | translate}}</span>
            <span class="data">{{user.name}}</span>
          </p>
          <p>
            <span class="label">{{vocabulary.id | translate}}</span>
            <span class="data">{{user.id}}</span>
          </p>
          <p>
            <span class="label">{{vocabulary.username | translate}}</span>
            <span class="data --data-username">{{user.username}}</span>
          </p>
        </div>
      </div>
    </div>
    <div class="user-card-button">
      <button [matTooltip]="!isPaid ? (vocabulary.pay | translate) + ' ' + user.name : ''" mat-raised-button
        [disabled]="isPaid" color="primary" class="is-full-width" (click)="onClickPay(user)">{{vocabulary.pay |
        translate}}</button>
    </div>
  </mat-card-content>

</mat-card>