<div class="card-wrapper" (click)="onClickCard()" [@cardFlip]="state">
  <div class="card front mat-elevation-z8">
    <span class="number">4111 1111 1111 1111</span>
    <div class="owner-infos-wrapper">
      <span class="owner">José da Silva Reis</span> 
      <span class="date">08/26</span>
    </div>
    <img class="logo picpay" src="assets/logos/picpay-logo-card.png" alt="logo PicPay">
    <img class="logo mastercard" src="assets/logos/mc_symbol.svg" alt="logo bandeira de cartão Mastercard">
  </div>
  <div class="card back mat-elevation-z8">
    <div class="strip"></div>
    <div class="security-wrapper">
      <div class="signature"></div>
      <span class="ccv">303</span>
    </div>
  </div>
</div>