:host {
  display: block;
  perspective: 600px;

  .card-wrapper {
    width: 375px;
    height: 238px;

    cursor: pointer;

    transform-style: preserve-3d;
  }

  .card {
    position: absolute;
    display: flex;

    width: 100%;
    height: 100%;

    padding: 30px;

    color: #fff;
    font: 16px/1.5 'Helvetica Neue', Helvetica, sans-serif;
    
    border: 1px solid #00bd54;
    border-radius: 20px;
    background: #464648;

    backface-visibility: hidden;
    
    &.front {
      flex-direction: column;
      justify-content: flex-end;

      font-size: 16px;
      text-shadow: 0 1px 1px rgba(0, 0, 0, 0.6);

      .number {
        font-size: 35px;
        font-family: Orbitron, 'Orbitron', sans-serif;

        margin: auto 0;
      }

      .owner-infos-wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;

        width: 100%;
        padding-right: 50px;

        .date {
          font-size: 14px;
        }

        .owner {
          text-transform: uppercase;
        }
      }

      .logo {
        &__picpay {
          position: absolute;
          bottom: 54px;
          right: -15px;
          max-width: 100px;
          max-height: 39px;
          transform: rotate(-90deg);
        }

        &__mastercard {
          position: absolute;
          right: -10px;
          top: 16px;
          max-width: 82px;
          max-height: 58px;
          transform: rotate(90deg);
        }
      }
    }

    &.back {
      flex-direction: column;

      padding-left: 0;
      padding-right: 0;

      transform: rotateX(180deg);

      .strip {
        background: #000;
        height: 50px;
        width: 100%;
        margin-bottom: 30px;
      }

      .security-wrapper {
        display: flex;
        align-items: center;

        .signature {
          width: 65%;
          height: 40px;
          margin-left: 10px;
          background: #999;
        }

        .ccv {
          max-height: 28px;
          padding: 2px 8px;
          background: #fff;
          color: #111;
        }
      }
    }
  }
}

:host(.small) {
  .card-wrapper {
    width: 330px;
    height: 190px;
  }

  .owner {
    font-size: 14px;
  }

  .card {

    &.front {
      .number {
        font-size: 30px;
      }
    }

    .logo {
      &__picpay {
        max-width: 76px;
        max-height: 28px;

        bottom: 42px;
        right: -8px;
      }

      &__mastercard {
        right: -5px;
        top: 13px;
        max-width: 62px;
        max-height: 43px;
      }
    }
  }
}
