@import 'sass/variables';

@mixin link($color) {
  color: $color;

  &:hover {
    color: darken($color, 8%);
  }

  &:active, &:focus {
    color: darken($color, 10%);
  }
}

.link {
  text-decoration: none;
  cursor: pointer;
  @include link($dark);

  &-primary {
    @include link($primary);
  }

  &-danger {
    @include link($danger);
  }
}