$success-color: #00d68f;
$success-color-hover: #2ce69b;
$success-color-focus-and-active: #00b887;
$warning-color: #ffaa00;
$danger-color: #ff3d71;
$danger-color-hover: #ff708d;
$danger-color-focus-and-active: #db2c66;
$default-grey: #8f9bb3;
$title-color: #343a40;
