<form class="transaction-form" fxLayout="column" fxLayoutGap="16px" [formGroup]="transactionForm" (ngSubmit)="onSubmit()">
  <h1>{{vocabulary.title | translate}} {{user.name}}</h1>

  <mat-divider></mat-divider>

  <mat-form-field>
    <mat-label>{{vocabulary.value | translate}} R$: </mat-label>

    <input currencyMask matInput type="tel" formControlName="value" autocomplete="off">

    <button mat-button *ngIf="transactionForm.get('value')" matSuffix mat-icon-button aria-label="Clear"
      (click)="transactionForm.get('value').setValue(0)">
      <mat-icon [matTooltip]="vocabulary.clearValue | translate">close</mat-icon>
    </button>

    <mat-error *ngIf="transactionForm.get('value').invalid">
      {{getErrorMessage(transactionForm.get('value'), vocabulary.value)}}
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>{{vocabulary.card | translate}}</mat-label>

    <mat-select formControlName="card_number">
      <mat-option [value]="card.card_number" class="option" *ngFor="let card of cards">
        {{vocabulary.selectLabel | translate}} {{getLastFourNumbers(card.card_number)}}
      </mat-option>
    </mat-select>

    <mat-error *ngIf="transactionForm.get('card_number').invalid">
      {{getErrorMessage(transactionForm.get('card_number'), vocabulary.card)}}
    </mat-error>
  </mat-form-field>

  <mat-divider></mat-divider>

  <button type="submit" mat-raised-button color="primary">{{vocabulary.pay | translate}}</button>
  <button type='button' (click)="dialogRef.close()" mat-button>{{vocabulary.cancel | translate}}</button>
</form>