@import "src/styles.scss";

.green-button {
  display: flex;
  height: 40px;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  font-size: 22px;
  background-color: $primary-green;
  color: white;
  font-weight: 400;

  &:hover {
    text-decoration: underline;
    cursor: pointer;
  }
}
