button {
  background: #11c76f;
  border-radius: 11px;
  color: #fff;
  padding: 15px;
  font-size: 16px;
  font-weight: bold;
  transition: 0.25s ease-in;
  border: none;
  cursor: pointer;
  outline: none;
}
