:host {
  .mat-drawer-container {
    background-color: transparent;
    height: 100%;
  }

  .mat-drawer {
    padding-top: 15px;

    app-card {
      margin: 0 25px 25px;
    }
  }

  .container {
    height: 100%;
    padding: 20px;
  }
}