:host {
  .mat-drawer-container {
    background-color: transparent;
    height: 100%;
  }

  .mat-drawer {
    padding-top: 15px;

    app-card {
      margin: 0 25px;
    }
  }

  .container {
    height: 100%;
    padding: 20px;
  }

  .card-wrapper {
    display: flex;
    align-items: center;

    margin-bottom: 25px;
    padding-right: 10px;
  }
}