<div class="container p-5">
  <div class="row">
    <h1 class="title">Bem vindo ao sistema!</h1>
  </div>
  <div class="row mb-5">
    <small class="text-grey">
      A lista abaixo apresenta os usuários em sua rede. Utilize o botão "pagar"
      para efetuar o pagamento de valores até R$ 8.000.
    </small>
  </div>
  <div class="row users-list-header px-4 py-1">
    <div class="col-2">
      <b><span class="user-list-header-title">Foto</span></b>
    </div>
    <div class="col-2">
      <b><span class="user-list-header-title">Código</span></b>
    </div>
    <div class="col-2">
      <b><span class="user-list-header-title">Nome</span></b>
    </div>
    <div class="col-2">
      <b><span class="user-list-header-title">Nome de usuário</span></b>
    </div>
    <div class="col-4 text-center">
      <b><span class="user-list-header-title">Ações</span></b>
    </div>
  </div>
  <div class="row users-list-container">
    <div
      *ngFor="let item of usersList"
      class="col-12 user-card my-4 d-flex align-items-center px-4 py-1"
    >
      <div class="col-2">
        <img [src]="item.img" [alt]="item.name" class="user-photo" />
      </div>
      <div class="col-2">
        <b>
          <span>{{ item.id }}</span>
        </b>
      </div>
      <div class="col-2">
        <span>{{ item.name }}</span>
      </div>
      <div class="col-2 text-grey">
        <span>{{ item.username }}</span>
      </div>
      <div class="col-4 text-center">
        <button class="btn btn-primary">Efetuar Pagamento</button>
      </div>
    </div>
  </div>
</div>
