.user-card {
  height: 115px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(154, 160, 185, 0.05),
    0 15px 40px rgba(166, 173, 201, 0.2);
  transition: all 0.3s;

  &:hover {
    transform: scale(1.02);
  }
}

.user-photo {
  height: 80px;
  border-radius: 50%;
}

.user-list-header-title {
  color: #595959;
}

.action-payment {
  padding: 0.5rem 1rem;
}

@media (max-width: 576px) {
  .user-card {
    height: fit-content;
  }

  .action-payment {
    min-width: 100%;
  }

  .pagination-container {
    position: fixed;
    bottom: 0;
    background-color: white;
    padding: 15px 0px 5px 0px;
  }
}
