/* List of Users */

.user {
  background: linear-gradient(186.5deg, #3c3e64 0.83%, #1d1e2a 100%);
  box-shadow: 0 .2rem .4rem 0 rgba(0,0,0,0.5);
  border-radius: 0 .6rem .6rem;
  color: #fff;
  padding: 2rem 4rem;
  margin: 0 auto;
  margin-bottom: 2.4rem;

  display: flex;
  align-items: center;
  
  width: 65%;

  transition: transform 0.25s ease, box-shadow .25s ease;

  &:hover {
    transform: scale(1.01);
  }
}

.user > img {
  border-radius: 50%;

  width: 8rem;
  height: 8rem;
}

.user > .info-wrapper {
  font-size: 1.6rem;
  margin-left: 1.6rem;
}

.user > .pay-button {
  border: .1rem solid #ccc;
  border-radius: .6rem;
  font-size: 1.8rem;
  padding: 0 .8rem;
  margin-left: auto;

  height: 3rem;
}

/* Payment Modal Backdrop */
.modal-backdrop {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  position: fixed;
  top: 0;
  left: 0;

  width: 100vw;
  height: 100vh;
}

.modal-backdrop.hidden {
  display: none;
}

.modal-backdrop:after {
  content: "";

  background: rgba(0, 0, 0, 0.5);

  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;

  width: 100%;
  height: 100%;
}