<main class="users">
  <div class="user" *ngFor="let user of users">
    <img src="{{ user.img }}" alt="Foto da pessoa usuária {{ user.name }}" />
    <div class="info-wrapper">
      <p class="user-name">
        {{ user.name }}
      </p>

      <p class="user-id-username">
        ID: {{ user.id }} - Username: {{ user.username }}
      </p>
    </div>

    <button type="button" class="pay-button" (click)="handlePayment(user.name, user.id)">
      Pagar
    </button>
  </div>
</main>

<div class="modal-backdrop hidden">
  <payment-modal userName="{{ userNameSelected }}" userDestinationId="{{ userIdSelected }}"></payment-modal>
</div>
