@charset 'UTF-8';
@import'./src/assets/colors/colors';
.message {
 width: 400px; 
 height: 200px;
 font-size: 20px;
.title {
    background: $myDarkBlue;
    font-weight: 500;
    font-size: 20px;
    padding: 16px 24px;
    text-align: center;
    span {
        color: $myGreen;
      }
}
.content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;   
    text-align: center;
    height: 150px;
    background: shade($backgroundColor, 97%);
    color: $myDarkBlue;
  }
}