<section class="users">
    <div class="user" *ngFor="let user of users">
      <img src={{user.img}} />
      <div class="info-wrapper">
        <div class="user-name">
          {{ user.name}}
        </div>
  
        <div class="user-id-username">
          ID: {{user.id}} - Username: {{user.username}}
        </div>
      </div>
  
      <button type="button" class="pay-button" (click)="openModal(payByCard, user)">
        Pagar
      </button>
    </div>
  </section>
  
  <ng-template class="modal-backdrop" #payByCard>
    <div class="modal">
      <div class="title">Pagamento para <span>{{user.username}}</span></div>
  
      <form class="content" [formGroup]="payCard">
        <input type="number" placeholder="R$ 0,00" formControlName="value" />
  
        <div class="cards">
            <mat-select placeholder="Escolha o cartão" formControlName="card_number">
              <mat-option *ngFor="let card of cards" [value]="card.card_number">
                Cartão com final {{ lastFourNumbers(card.card_number) }}
              </mat-option>
            </mat-select>
        </div>
  
        <button type="button" class="pay-button" (click)="paymentCard()" [disabled]="!payCard.valid">
          Pagar
        </button>
      </form>
    </div>
</ng-template>
