<div class="users">
    <div class="user" *ngFor="let user of users">
      <img src={{user.img}} />
      <div class="info-wrapper">
        <div class="user-name">
          {{ user.name}}
        </div>
  
        <div class="user-id-username">
          ID: {{user.id}} - Username: {{user.username}}
        </div>
      </div>
  
      <button type="button" class="pay-button" (click)="openModal(payByCard, user)">
        Pagar
      </button>
    </div>
</div>
  
  <ng-template class="modal-backdrop" #payByCard>
    <div class="modal">
      <div class="title">Pagamento para <span>{{user.username}}</span></div>
  
      <div class="content">
        <input type="number" placeholder="R$ 0,00" />
  
        <div class="cards">
          <mat-form-field>
            <mat-label>Escolha o cartão</mat-label>
            <mat-select>
              <mat-option *ngFor="let card of cards" [value]="card.card_number">
                Cartão com final {{ lastFourNumbers(card.card_number) }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
  
        <button type="button" class="pay-button" (click)="paymentCard(user)">
          Pagar
        </button>
      </div>
    </div>
</ng-template>
