<section class="users">
    <div class="user" *ngFor="let user of users">
      <img src={{user.img}} alt="Foto"/>
      <div class="info-wrapper">
        <div class="user-name">
          {{ user.name}}
        </div>
  
        <div class="user-id-username">
          ID: {{user.id}} - Username: {{user.username}}
        </div>
      </div>
  
      <button mat-raised-button class="pay-button" (click)="openDialog(payByCard, user)">
        Pagar
      </button>
    </div>
  </section>
  
  <ng-template class="modal-backdrop" #payByCard>
    <div class="modal">
      <header>
        <div class="title">Pagamento para <span>{{user.username}}</span></div>
      </header>
  
      <form class="content" [formGroup]="formPay">
        <input type="number" min=0 placeholder="R$ 0,00" formControlName="value" />
  
        <div class="cards">
            <mat-select placeholder="Escolha o cartão" formControlName="card_number">
              <mat-option *ngFor="let card of cards" [value]="card">
                Cartão com final {{ lastFourNumbers(card.card_number) }}
              </mat-option>
            </mat-select>
        </div>
  
        <button mat-raised-button class="pay-button" (click)="paymentCard()" [disabled]="!formPay.valid">
          Pagar
        </button>
      </form>
    </div>
</ng-template>
