  .dialog-buttons {
    position: relative;
    margin-left: 130px;
  }
  
  .content-dialog {    
    width: 100%;
    text-align: center;
    margin-right: 40px;
  }
  
  .confirm-button {
    margin-left: 50px;
    background-color: #0B9854;
  }
  
  .modal-header {
    padding: 0.2rem 0.2rem;
    text-align: center;
    background-color: #0B9854;
    margin-top: -24px;
  }

 