<form
  class="container px-0 px-sm-5 py-3 modal-container"
  #transactionNgForm="ngForm"
  [formGroup]="transactionForm"
  (ngSubmit)="onSubmit(transactionNgForm)"
  autocomplete="off"
>
  <div *ngIf="outerData" class="row">
    <div class="col-12 modal-header">
      <h3 class="title modal-title pull-left">Pagar à {{ outerData.name }}</h3>
      <button
        type="button"
        class="close pull-right"
        aria-label="Close"
        (click)="closeDialog()"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  </div>
  <div class="row my-4">
    <app-loading [fullRelativeScreen]="true" *ngIf="!isLoaded"></app-loading>
    <div class="col-12 modal-body">
      <div class="row mb-4">
        <div class="col-12">
          <span class="text-grey">
            Selecione um cartão, informe um valor e clique em "Pagar" para
            concluir a transação.
          </span>
        </div>
      </div>
      <div class="row mt-4">
        <div class="col-12 payment-card-container">
          <div class="row">
            <div class="col-12">
              <label class="input-title mb-3">
                1. Qual cartão deseja utilizar?
              </label>
            </div>
          </div>
          <div class="row">
            <div
              *ngFor="let card of cards"
              class="col-12 payment-card-container"
            >
              <label class="card-radio-btn w-100">
                <input
                  #input
                  type="radio"
                  class="card-input-element d-none"
                  formControlName="card_number"
                  [value]="card.card_number"
                />
                <div
                  class="card card-body col-12 d-flex flex-row w-100 my-2 p-2"
                >
                  <div
                    class="col-8 d-flex flex-wrap align-items-center payment-card-info-container"
                  >
                    <div class="col-12 payment-card-info">
                      <strong class="mr-2">CVV:</strong>
                      <span>{{ card.cvv }}</span>
                    </div>
                    <div class="col-12 payment-card-info">
                      <strong class="mr-2">Vencimento:</strong>
                      <span>{{ card.expiry_date }}</span>
                    </div>
                    <div class="col-12 payment-card-info">
                      <strong class="mr-2">Quatro dígitos finais:</strong>
                      <span>{{ card.card_number | slice: 0:4 }}</span>
                    </div>
                  </div>
                  <div class="col-4 d-flex flex-wrap align-items-center">
                    <img
                      class="payment-card-illustration"
                      [src]="
                        card.cvv === 789
                          ? '../../../assets/svgs/undraw_Credit_card_3ed6.svg'
                          : '../../../assets/svgs/undraw_Credit_card_3ed6_color2.svg'
                      "
                      alt="Cartão"
                    />
                  </div>
                </div>
              </label>
            </div>
            <div class="col-12">
              <app-errors-input
                [form]="transactionForm"
                [field]="'card_number'"
                [requiredMsg]="'É necessário selecionar um cartão acima'"
              ></app-errors-input>
            </div>
          </div>
        </div>
      </div>
      <div class="row mt-4">
        <div class="col-12 form-group">
          <label class="input-title mb-3" for="transaction-value-input">
            2. Qual será o valor do pagamento? (R$):
          </label>
          <input
            #input
            required
            currencyMask
            min="10.00"
            max="5000"
            id="transaction-value-input"
            class="form-control"
            placeholder="ex: R$100,00"
            maxlength="11"
            formControlName="value"
          />
          <app-errors-input
            [form]="transactionForm"
            [field]="'value'"
            [minValueMsg]="
              'O valor mínimo permitido para pagamentos é R$ 10,00'
            "
            [maxValueMsg]="
              'O valor máximo permitido para pagamentos é R$ 5.000,00 por dia'
            "
          ></app-errors-input>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 modal-footer pt-4 pb-2 px-3 px-md-0">
      <button
        type="button"
        class="btn btn-light action-payment-cancel my-2 mx-1 col-12 col-sm-3"
        (click)="closeDialog()"
      >
        Cancelar
      </button>
      <button
        type="submit"
        class="btn btn-success action-payment-confirm my-2 mx-1 col-12 col-sm-5"
        [disabled]="transactionNgForm.submitted"
      >
        Concluir pagamento
      </button>
    </div>
  </div>
</form>
