.column {
    float: left;
    padding: 0 10px;
}
  
.row {
    margin: 0 -5px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.scrollable {
    width: fit-content; 
    height: 80vh; 
    overflow-y: scroll;
}

.simple-list {
    display: none;
}

@media screen and (max-width: 1024px) {
    .not-simple-list {
        display: none;
    }

    .simple-list {
        display: block;
    }
}