.receipt {
    > .title {
        background: var(--picGreen);
        font-weight: 500;
        font-size: 20px;
        padding: 16px 24px;
        text-align: center;
        color: var(--white);
    }
    > .content {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        height: 150px;
    }
}
