@import '~@angular/material/theming';

.home-container{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: mat-color($mat-green, A400);
}



.mat-table{
  overflow: auto;
  width: 768px;
  max-height: 500px;
  padding: 8px 16px;

  & .title{
    color:mat-color($mat-green, A700);
    font-weight: 900;
    font-size: 16px;
  }
  & span{
    font-weight: 500;
  }

  & .mat-column-name, .mat-column-username{
    display: flex;
    justify-content: flex-start;
    padding: 8px 16px;
  }

  & .mat-column-actions{
    justify-content: center;
  }

  & .mat-column-id{
    width: 32px;
    padding-right: 24px;
    text-align: center;
    justify-content: center;
    flex:0;
  }

  & .mat-column-name{

    text-align: center;
    & .profile-img{
      width: 35px;
      border-radius: 99px;
      margin-right: 16px;
    }
  }
}