<app-header [title]="'Lista de usuários'"></app-header>

<div class="list-users" *ngFor="let user of listUsers">
  <div class="user" (click)="paymentUser(user)">
    <app-avatar [url_image]=user.img>
    </app-avatar>
    <div class="info-wrapper">
      <div class="user-name">{{user.name}}</div>

      <div class="user-username">{{user.username}}</div>
      <div class="user-info">
      </div>
    </div>

    <app-primary-green-button class="pay-button" [label]="'Pagar'"> </app-primary-green-button>
  </div>
</div> 

