<article class="payment_confirmation">
  <h3 class="payment-modal--title color-primary">Pagando</h3>
  <small class="payment-modal--smalltext"
    >Enviando dinheiro para <span>Julia Mantovani</span></small
  >
  <span class="payment_confirmation__amount">
    <mat-form-field class="edit-value">
      <input
        matInput
        (input)="teste(tt)"
        #tt
        [(ngModel)]="value"
        [disabled]="disabled"
        (blur)="handleValueEdition()"
      />
    </mat-form-field>

    <button mat-icon-button (click)="handleValueEdition()">
      <mat-icon>edit</mat-icon>
    </button>
  </span>


  <mat-form-field>
    <mat-label>Selecione um cartão de crédito</mat-label>
    <mat-select>
      <mat-option value="**** 3266">
        <mat-icon>credit_card</mat-icon>
        **** 3266
      </mat-option>
    </mat-select>
  </mat-form-field>

  <div class="bottom-action">
    <span>Confirmar pagamento</span>
    <button
      mat-fab
      color="primary"
      aria-label="Example icon button with a delete icon"
    >
      <mat-icon>navigate_next</mat-icon>
    </button>
  </div>
</article>
