<article class="payment_confirmation">
  <h3 class="payment-modal--title color-primary">Pagando</h3>
  <small class="payment-modal--smalltext color-gray-primary">
    Enviando dinheiro para <strong>{{ user?.name }}</strong
    >.
  </small>

  <form [formGroup]="confirmationForm">
    <span class="payment_confirmation__amount">
      <mat-form-field class="edit-value" [ngClass]="{ 'disabled-input': disabled }">
        <input
          matInput
          (input)="handleInputMask(tt)"
          #tt
          formControlName="paymentAmount"
          (blur)="handleValueEdition()"
          (click)="handleValueEdition()"
        />
        <mat-error
          *ngIf="
            confirmationForm.controls.paymentAmount?.errors?.required &&
            confirmationForm.controls.paymentAmount?.touched
          "
        >
          Campo obrigatório
        </mat-error>
      </mat-form-field>

      <button mat-icon-button (click)="handleValueEdition()">
        <mat-icon>edit</mat-icon>
      </button>
    </span>

    <mat-form-field>
      <mat-label>Selecione um cartão de crédito</mat-label>
      <mat-select formControlName="creditCard" id="selectCreditCard">
        <mat-option *ngFor="let card of creditCardList" [value]="card.card_number">
          <!-- <mat-icon>credit_card</mat-icon> -->
          {{ card?.numberView }}
        </mat-option>
      </mat-select>
      <mat-error
        *ngIf="
          confirmationForm.controls.creditCard?.errors?.required &&
          confirmationForm.controls.creditCard?.touched
        "
      >
        Campo obrigatório
      </mat-error>
    </mat-form-field>
  </form>

  <div class="bottom-action">
    <span class="color-gray-primary">{{
      loadingPayment ? 'Processando pagamento' : 'Confirmar pagamento'
    }}</span>
    <button
      mat-fab
      color="primary"
      [disabled]="confirmationForm?.invalid"
      [ngClass]="{ 'loading-payment': loadingPayment }"
      (click)="sendPayment()"
      [autofocus]="disabled"
      id="sendPaymentBtn"
    >
      <mat-icon *ngIf="!loadingPayment">navigate_next</mat-icon>
      <mat-spinner *ngIf="loadingPayment"></mat-spinner>
    </button>
  </div>
</article>
