<article class="payment_confirmation">
  <h3 class="payment-modal--title color-primary">Pagando</h3>
  <small class="payment-modal--smalltext color-gray-primary">
    Enviando dinheiro para <strong>{{ user?.name }}</strong
    >.
  </small>

  <form [formGroup]="confirmationForm">
    <span class="payment_confirmation__amount">
      <mat-form-field class="edit-value">
        <input
          matInput
          (input)="handleInputMask(tt)"
          #tt
          formControlName="paymentAmount"
          (blur)="handleValueEdition()"
          (click)="handleValueEdition()"
        />
      </mat-form-field>

      <button mat-icon-button (click)="handleValueEdition()">
        <mat-icon>edit</mat-icon>
      </button>
    </span>

    <mat-form-field>
      <mat-label>Selecione um cartão de crédito</mat-label>
      <mat-select formControlName="creditCard">
        <mat-option *ngFor="let card of creditCardList" [value]="card.card_number">
          <!-- <mat-icon>credit_card</mat-icon> -->
          {{ card?.numberView }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </form>

  <div class="bottom-action">
    <span class="color-gray-primary">{{
      loadingPayment ? 'Processando pagamento' : 'Confirmar pagamento'
    }}</span>
    <button
      mat-fab
      color="primary"
      [disabled]="confirmationForm?.invalid"
      (click)="changePaymentStep()"
    >
      <mat-icon>navigate_next</mat-icon>
    </button>
  </div>
</article>
