<div class="container p-4">
    <div class="row">
        <div class="col-12">
            <div class="card m-2">
                <div class="card-body row">
                    <img [src]="user.img" alt="" class="img-thumbnail rounded-circle user">
                    <div class="col-12 card-title align-self-center mb-0 mt-5">
                        <h5>Pagamento para Usuario:</h5>
                        <p>{{user.name}}</p>
                    </div>
                </div>
                <form [formGroup]="form">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><i class="fas fa-credit-card float-right"></i>
                            <label class="control-label">Cartão: </label>
                            <select class="form-control card-line" formControlName="card"
                                [ngClass]="{ 'is-invalid': submitted && fieldValue.card.errors }">
                                <option *ngFor="let card of cards" class="text-right" [ngValue]="card">Final -
                                    {{card.card_number | slice:11:15}}</option>
                            </select>
                            <div *ngIf="submitted && fieldValue.card.errors" class="invalid-feedback">
                                <div *ngIf="fieldValue.card.errors.required">Selecione um cartão</div>
                            </div>
                        </li>
                        <li class="list-group-item"><i class="fas fa-hand-holding-usd float-right"></i>
                            <label class="control-label">valor :</label>
                            <input currencyMask type="text" placeholder="Valor" class="form-control"
                                [ngClass]="{ 'is-invalid': submitted && fieldValue.value.errors }" required
                                formControlName="value" [options]="{ prefix: 'R$ ', thousand:'.', decimal: ',' }"/>
                            <div *ngIf="submitted && fieldValue.value.errors" class="invalid-feedback">
                                <div *ngIf="fieldValue.value.errors.required">Insira um valor para continuar</div>
                            </div>
                        </li>
                    </ul>
                    <button class="btn btn-success btn-md btn-block" [disabled]="fieldValue.value.value === ''"
                        (click)="pay(fieldValue)">
                        Pagar <span [hidden]="fieldValue.value.value === ''" >| R$ {{fieldValue.value.value }} </span>
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>