$picpay-green: #34d582;

.modal {

    &__value {
      color: $picpay-green;
      font-size: 3.5rem;
      margin-bottom: 25px;
    }

    &__success-icon, &__fail-icon {
      color: $picpay-green;
      font-size: 7rem;
      width:10rem;
      height:10rem;
      margin-bottom: 3rem;
      margin-top: 3rem;
    }
    
    &__msg {
      color: grey;
      font-size: 1.2rem;
      margin-bottom: 4rem;
    }

}