.modal {
    background: #fff;
    margin: 32px 0;
    width: 420px;
  }
  
  .modal > .title {
    background: #474971;
    color: #ffffff;
    font-weight: 500;
    font-size: 16px;
    padding: 16px 24px;
  }
  
  .modal > .title > span {
    color: #cddc39;
  }
  
  .modal > .content {
    padding: 32px;
    text-align: center;
  }