<app-loading *ngIf="viewLoading"></app-loading>

<section class="modal-backdrop" *ngIf="viewModal">
    <span id="closeModal" class="pointer" (click)="closeModal()">X</span>

    <!-- Modal - Payment -->
    <div class="modal" id="payment" *ngIf="modal.viewPayment">
        <header class="title">Nova transação</header>

        <article class="content">
            <div class="user d-flex pointer">
                <div class="header d-flex">
                    <img [src]="userPayment.img" [alt]="userPayment.name" [title]="userPayment.name" height="60px" />
                    <div>
                        <div class="user-id-username">
                            <span [innerText]="userPayment.username"></span>
                        </div>
                        <div class="user-name">
                            <small [innerText]="userPayment.name"></small>
                        </div>
                        <div class="content">
                            <form [formGroup]="transaction" (ngSubmit)="setPayment()">
                                <input type="text" currencyMask
                                    [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }" placeholder="R$ 0,00"
                                    formControlName="value" maxlength="10" />
                                <br>
                                <small class="hasError" *ngIf="transaction.get('value').hasError('required') && transaction.get('value').touched">Informe um valor a ser transferido</small>

                                <form [formGroup]="card" (change)="setCard()">
                                    <div class="cards">
                                        <select formControlName="card_number">
                                            <option disabled selected value="null">Escolha um cartão</option>
                                            <option *ngFor="let card of cards" [value]="card.card_number">
                                                Cartão com final
                                                <span [innerText]="card.card_number.substring(13,16)"></span>
                                            </option>
                                        </select>
                                        <br>
                                        <small class="hasError" *ngIf="card.get('card_number').hasError('required') && card.get('card_number').touched">Informe um cartão</small>
                                    </div>
                                </form>
                                <button type="submit" [disabled]="transaction.invalid" [class.disabled]="transaction.invalid" class="pointer">
                                    Pagar
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </article>
    </div>

    <!-- Modal - Receipt -->
    <div class="modal" id="receipt" *ngIf="modal.viewReceipt">
        <header class="title">Recibo de pagamento</header>

        <div class="content">
            <div [innerHtml]="modal.text" style="margin-left: 15px;"></div>
        </div>
    </div>
</section>