<app-modal
  *ngIf="isVisible"
  (visibility)="closeModal($event)"
  (action)="getTransaction()"
  [loading]="loading"
  [form]="!paymentForm.valid"
  [@onVisibilityChange]
>
  <header-slot>
    <span class="title"> {{ loading ? "Processando" : "Pagamento" }} </span>
  </header-slot>
  <body-slot *ngIf="!loading">
    <div class="user">
      <div class="user__img">
        <img class="user__img--photo" src="{{ user.img }}" />
      </div>
      <div class="user__name">
        <span>{{ user.name }}</span>
        <span class="username">{{ user.username }}</span>
      </div>
    </div>
    <div class="body" [formGroup]="paymentForm">
      <div class="body__item">
        Valor:
        <input
          id="value"
          type="text"
          class="value"
          placeholder="R$ 0,00"
          currencyMask
          [options]="{
            prefix: 'R$ ',
            thousands: '.',
            decimal: ',',
            allowNegative: false,
            align: 'left'
          }"
          formControlName="value"
        />
      </div>
      <div class="body__item">
        Cartão:
        <div class="card__group">
          <div class="card__input">
            <input
              id="card"
              name="label"
              formControlName="label"
              class="card__select"
              [ngClass]="{ open: showItems }"
              (click)="showItems = !showItems"
            />
            <div class="icon" [ngClass]="{ open: showItems }"></div>
          </div>
          <div class="card__list" *ngIf="showItems">
            <div
              *ngFor="let card of cards"
              class="card__list--item"
              (click)="selectValue(card)"
            >
              <label class="type">
                {{ card.type }} - {{ card.masked_number }}
              </label>
              <label class="expiration"> {{ card.expiry_date }}</label>
            </div>
          </div>
        </div>
      </div>

      <hr class="divisor" />
    </div>
  </body-slot>
  <body-slot *ngIf="loading" [@onVisibilityChange]>
    <div class="processing">
      <span> Processando seu pagamento </span>
      <div class="loader"></div>
    </div>
  </body-slot>

  <footer-slot>
    {{ loading ? "Aguarde" : "Pagar" }}
  </footer-slot>
</app-modal>
