.title {
  color: #ffffff;
  font-weight: 500;
  font-size: 12px;
  padding: 16px 20px;
  .username {
    color: #5c5c5b;
    margin-left: 0.25rem;
  }
}

.body {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;

  &__item {
    display: flex;
    align-items: center;
    gap: 1rem;
    .value {
      margin-left: 1rem;
    }
    .value,
    .card__select {
      color: #5c5c5b;
      width: 165px;
      padding: 15px 20px;
      border-radius: 25px;
      border: 1px solid #eee;
      transition: 0.3s border-color;
      background: rgba(255, 255, 255, 0.1);
      &:hover {
        border: 1px solid #aaa;
      }
    }
  }
  .divisor {
    margin-top: 1rem;
    border: 0;
    height: 0;
    width: 80%;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  }
}

.loader {
  border: 6px solid #e5e5e5;
  border-top-color: #21c25e;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
  margin-left: 90px;
}
.payment_button {
  padding: 15px 20px;
  width: 200px;
  max-width: 200px;
  border-radius: 25px;
  color: #fff;
  border: 1px solid transparent;
  transition: 0.3s border-color;
  background: #21c25e;
  transition: all 0.3s ease-in-out;
  &:disabled {
    color: #e5e5e5;
    border: 1px solid #eee;
    transition: 0.3s border-color;
    background: rgba(255, 255, 255, 0.1);
    pointer-events: none;
  }
  &:hover {
    cursor: pointer;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  }
}

@media screen and (min-width: 482px) {
  .title {
    font-size: 16px;
    padding: 16px 24px;
  }
  .body {
    padding: 1rem 2rem 0.5rem;
    &__item {
      .value,
      .card__select {
        color: #5c5c5b;
        width: 285px;
        padding: 15px 20px;
        border-radius: 25px;
      }
    }
  }
  .payment_button {
    padding: 15px 20px;
    width: 300px;
  }
  .loader {
    margin-left: 190px;
  }
}
