<app-modal
  *ngIf="isVisible"
  (visibility)="closeModal($event)"
  [@onVisibilityChange]
>
  <header-slot>
    <span class="title">
      Pagar a <span class="username">{{ user.username }}</span></span
    >
  </header-slot>
  <body-slot *ngIf="!loading">
    <div class="body" [formGroup]="paymentForm">
      <div class="body__item">
        Valor:
        <input
          id="value"
          type="text"
          class="value"
          placeholder="R$ 0,00"
          currencyMask
          [options]="{
            prefix: 'R$ ',
            thousands: '.',
            decimal: ',',
            allowNegative: false,
            align: 'left'
          }"
          formControlName="value"
        />
      </div>
      <div class="body__item">
        Cartão:
        <select
          id="card"
          name="card"
          class="card__select"
          formControlName="card"
        >
          <option [disabled] [value]="''">Selecione o cartão com final</option>
          <option
            *ngFor="let card of cards"
            [ngValue]="card"
            class="card__option"
          >
            {{ card.masked_number }} - {{ card.expiry_date }}
          </option>
        </select>
      </div>

      <hr class="divisor" />
    </div>
  </body-slot>
  <body-slot *ngIf="loading" [@onVisibilityChange]>
    <div class="loader"></div>
  </body-slot>

  <footer-slot>
    <button
      type="button"
      class="payment_button"
      (click)="getTransaction()"
      [disabled]="!paymentForm.valid || loading"
    >
      {{ loading ? "Aguarde" : "Pagar" }}
    </button>
  </footer-slot>
</app-modal>
