<div class="users">
    <div class="user">
        <app-avatar imgsrc="https://randomuser.me/api/portraits/men/9.jpg"></app-avatar>
        <div class="info-wrapper">
            <div class="user-name">
                Nome do Usuário X
            </div>

            <div class="user-id-username">
                ID: X - Username: @usuarioX
            </div>
        </div>

        <button type="button" class="pay-button">
            Pagar
        </button>
    </div>

    <div class="user">
        <app-avatar imgsrc="https://randomuser.me/api/portraits/men/12.jpg"></app-avatar>
        <div class="info-wrapper">
            <div class="user-name">
                Nome do Usuário X
            </div>

            <div class="user-id-username">
                ID: X - Username: @usuarioX
            </div>
        </div>

        <button type="button" class="pay-button">
            Pagar
        </button>
    </div>

    <div class="user">
        <app-avatar imgsrc="https://randomuser.me/api/portraits/men/12.jpg"></app-avatar>
        <div class="info-wrapper">
            <div class="user-name">
                Nome do Usuário X
            </div>

            <div class="user-id-username">
                ID: X - Username: @usuarioX
            </div>
        </div>

        <button type="button" class="pay-button">
            Pagar
        </button>
    </div>
</div>