<div class="users">
    <div class="user">
        <app-avatar data-testeid="user-row-avatar" [imgsrc]="user.img"></app-avatar>
        <div class="info-wrapper">
            <div data-testeid="user-row-name" class="user-name">
                {{user.name}}
            </div>

            <div data-testeid="user-row-username" class="user-id-username">
                ID: {{user.id}} - Username: {{user.username}}
            </div>
        </div>

        <button type="button" class="pay-button" (click)="onPagar()">
            Pagar
        </button>
    </div>
</div>