@import '../../variables/colors.scss';

.user {
  background: linear-gradient(180deg, $white 0.83%, $gray 100%);
  box-shadow: 0 1px 0 $primary-color, 0px -1px 0px $primary-color;
  color: $primary-color;
  padding: 20px 40px;

  display: flex;
  align-items: center;

  &:hover {
    background: $shadow;
  }

  .info-wrapper {
    margin-left: 16px;

    .user-id-username {
      color: $black;
    }
  }
  
  .button-container {
    margin-left: auto;
  }
}

@media only screen and (max-width: 768px) { 
  .user {
    padding: 20px 10px;

    .info-wrapper {
      font-size: 14px;
      margin: 0;
      padding: 0 10px;
      max-width: 50%;
      
      .user-id-username {
        word-wrap: break-word;
        // white-space: nowrap;
        // overflow: hidden;
        // text-overflow: ellipsis;
      }
    }
  }
}