<div class="users">
    <div class="user">
        <img src="https://randomuser.me/api/portraits/men/9.jpg" class="user__img"/>
        <div class="user__info-container">
            <div class="user__name">
                Nome do Usuário
            </div>

            <div class="user__username">
                @usuarioX
            </div>
        </div>

        <button type="button" class="user__pay-button">
            Pagar
        </button>
    </div>

    <div class="user">
        <img src="https://randomuser.me/api/portraits/men/12.jpg" class="user__img" />
        <div class="user__info-container">
            <div class="user__name">
                Nome do Usuário
            </div>

            <div class="user__username">
                @usuarioX
            </div>
        </div>

        <button type="button" class="user__pay-button">
            Pagar
        </button>
    </div>

    <div class="user">
        <img src="https://randomuser.me/api/portraits/men/13.jpg" class="user__img"/>
        <div class="user__info-container">
            <div class="user__name">
                Nome do Usuário
            </div>

            <div class="user__username">
                @usuarioX
            </div>
        </div>

        <button type="button" class="user__pay-button">
            Pagar
        </button>
    </div>
</div>