$picpay-green: #34d582;

@mixin tablet {
  @media screen and (min-width: 768px) { @content; }
}

.user {
    display: flex;
    align-items: center;
    margin-top: 1rem;
    padding: 20px 25px;
    width: calc(100vw - 1rem);
    background: #f4f4f4;
    color: #31b973;
    border-radius: .7rem;  
    border: 1px solid #90e6b9;
    box-shadow:  6px 6px 12px #d0d0d0,
                -6px -6px 12px #ffffff;
    transition: .08s;

    &:hover{
      transform: scale(1.004);
    }

    @include tablet {
      width: 48rem;
      margin-top: 1.3rem;
    }

    &__img {
      height: 80px;
      width: 80px;
      border-radius: 50%;
      border: 2px solid #f2f2f2;
      box-shadow:  2px 2px 5px #cfcfcf,
                  -2px -2px 5px #ffffff;
    }
    
    &__info-container {
      margin-left: 16px;
    }

    &__name {
      font-size: 1.2rem;
      font-weight: bold;
      margin-bottom: 5px;;
    }
    
    &__pay-button {
      width: 7rem;
      height: 2.5rem;
      margin-left: auto;
      background-color: #f4f4f4;
      color: #31b973;
      font-size: 1rem;
      font-weight: bold;
      border: 1px solid #90e6b9;
      outline: none;
      border-radius: 2rem;;
      box-shadow:  5px 5px 8px #cbcbcb,
      -5px -5px 8px #ffffff;
      transition: .1s;
      cursor: pointer;

      &:hover {
        transform: scale(1.1);
      }

      @include tablet {
        width: 7.5rem;
        height: 2.8rem;
      }
    }
  }
  
