<div>
  <div *ngIf="loadingCards" class="loading-container">
    <app-spinner></app-spinner>
  </div>
  <form *ngIf="!loadingCards" [formGroup]="paymentForm" (ngSubmit)="onSubmit()" class="payment-form">
    <!-- Money amount input -->
    <label class="form-label" for="amout">Valor</label>
    <input
      currencyMask
      [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',', align: 'left' }"
      formControlName="amount"
      id="amount"
      name="amount"
      type="tel"
      placeholder="R$ 0,00"
      class="form-field"
      [ngClass]="{ 'error': submitted && form.amount.errors }"
    />
    <div *ngIf="submitted && form.amount.errors" class="error-msg">
      <span *ngIf="form.amount.errors.hasvalue">Valor é obrigatório</span>
      <span *ngIf="form.amount.errors.amount">Valor muito baixo</span>
    </div>
    <!-- Credit card select -->
    <label class="form-label top-space" for="car">Cartão de crédito</label>
    <select
      formControlName="card" 
      id="card"
      name="card"
      class="form-select"
      [ngClass]="{ 'error': submitted && form.card.errors }"
    >
      <option [ngValue]="null" [disabled]="true" [selected]="true">Selecione...</option>
      <option
        *ngFor="let card of cards; let i = index"
        [ngValue]="i"
      >
        Cartão com final {{card.card_number | hideCardPipe}}
      </option>
    </select>
    <div *ngIf="submitted && form.card.errors" class="error-msg">
      <span *ngIf="form.card.errors.required">Selecione um cartão</span>
    </div>
    <!-- Submit and loading -->
    <div *ngIf="loadingPayment" class="loading-container">
      <app-spinner></app-spinner>
    </div>
    <div *ngIf="!loadingPayment" class="button-container">
      <app-button-common
        [type]="'submit'"
        [larger]=true
        [rounded]=true
        label="{{'Pagar' | uppercase}}"
      ></app-button-common>
    </div>
  </form>
</div>