@charset 'UTF-8';
@import './src/assets/colors/colors';
@import './src/assets/button/button';

.modal-backdrop {
  height: 400px;
  width: 450px;
  background-color: shade($backgroundColor, 96%);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: inline-block;
  text-align: center;

   .title {
    font-weight: 500;
    font-size: 20px;
    padding: 20px 20px;
    background-color: $myDarkBlue;
    width: 450px;
  }
  
  .modal-payment > .title > span {
    color: $myGreen;
  }
  
  .modal-payment > .content {
    padding: 0px 32px 32px;
  }

   .input-value > input,  .modal-payment > .content > .cards > .select-card {
    background: $myWhite;
    border: $inputBorderColor;
    border-radius: 6px;
    font-size: 20px;
    height: 40px;
    padding: 0 8px;
    width: 75%;
    margin-top: 12px; 
    &:hover,
    &:focus,
    &:active,
    &:focus {
      background-color: $myWhite;
      transition:0.5s;
    }    
  }

  .pay-button {
    padding: 0 8px;
    margin: 15px 2px 2px 2px;
  }

  .user {
    background: shade($backgroundColor, 96%);
    color: $myDarkBlue;
    padding: 30px 10px 15px 10px;  
    display: flex;
    align-items: center;
    justify-content: center;    
    }

    .error {
      font-size: 14px;
    }
  }  