
@import '../Settings/font';

@mixin prefix($property, $value, $prefixes: ()) {
    @each $prefix in $prefixes {
      #{'-' + $prefix + '-' + $property}: $value;
    }
    #{$property}: $value;
}


@mixin weight ($type) {
    font-family: $font-default;
    font-weight: $type;
}

$breakpoints: (
  'xs':  ( min-width:  767px ),
  'md': ( min-width:  992px ),
  'xl':  ( min-width: 1200px )
) !default;

@mixin respond-to($breakpoint) {
  @if map-has-key($breakpoints, $breakpoint) {
    @media #{inspect(map-get($breakpoints, $breakpoint))} {
      @content;
    }
  }

  @else {
    @warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. "
        + "Available breakpoints are: #{map-keys($breakpoints)}.";
  }
}