<div class="modal-backdrop">
  <div class="invisible-block" (click)="closeHandler($event)"></div>
  <div class="modal">
    <div class="title" [innerHTML]="headerContent"></div>
    <div class="close-button" (click)="closeHandler($event)">X</div>
    <ng-content></ng-content>
  </div>

  <!-- <div class="modal">
    <div class="title">
      Recibo de pagamento
    </div>

    <div class="content">
      O pagamento foi concluido com sucesso.<br />
      O pagamento <strong>não</strong> foi concluido com sucesso.
    </div>
  </div> -->
</div>
