<div class="head">
  <a routerLink="/pagamento" class="return">
    <i class="material-icons">
      chevron_left
    </i>
    Voltar
  </a>
  <span class="title">
    Meus Cartões
  </span>
</div>

<div class="card-list">
  <div class="select" *ngFor="let card of cards" (click)="selectCard(card)">
    <a class="card">
      <i class="material-icons">
        credit_card
      </i>
      <div class="info">
        <div class="type">
          Cartão de Crédito
        </div>
        <div class="number">
          <strong> {{card.card_number}} </strong>
        </div>
      </div>
    </a>
  </div>
</div>


<a class="new" routerLink="/novo-cartao">
  <i class="material-icons">
    add_circle
  </i>
  Novo Cartão
</a>
