<div class="head">
  <a routerLink="/pagamento" class="return">
    <i class="material-icons">
      chevron_left
    </i>
    Voltar
  </a>
  <span class="title">
    Meus Cartões
  </span>
</div>

<div class="card-list">
  <div class="select">
    <a class="card">
      <i class="material-icons">
        credit_card
      </i>
      <div class="info">
        <div class="type">
          Cartão de Crédito
        </div>
        <div class="number">
          <strong>**** **** **** 0897</strong>
        </div>
      </div>
    </a>
  </div>
</div>
