.c-users-page {
  &__user-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  &__user {
    background: rgb(20, 20, 20);
    box-shadow: 0 1px 0 #fff, 0px -1px 0px #fff;
    color: #fff;
    padding: 20px 50px;

    display: flex;
    align-items: center;
    cursor: pointer;
    transition: all 0.5s ease;

    &:hover {
      color: rgb(233, 103, 43);
      background: rgb(58, 57, 57);
      padding: 25px;
    }
  }

  &__user-img {
    border-radius: 50%;
    height: 80px;
    width: 80px;
  }

  &__user-info {
    margin-left: 16px;

    &--username {
      font-weight: 700;
    }

    &--name {
      margin-top: 5px;
      margin-left: 16px;
      font-size: small;
      color: rgb(173, 169, 169);
    }
  }
}
