.c-users-page {
  background: linear-gradient(186.5deg, #3c3e64 0.83%, #1d1e2a 100%);
  //   background: linear-gradient(186.5deg, #31882a 0.83%, #3c643f 100%);
  box-shadow: 0 1px 0 #ffffff, 0px -1px 0px #ffffff;
  color: #fff;
  padding: 20px 40px;

  display: flex;
  align-items: center;

  &__user-img {
    border-radius: 50%;
    // box-shadow: 0 0 5px rgba(0, 0, 0, 4);
    height: 80px;
    width: 80px;
  }

  &__user-info {
    font-weight: 700;
    margin-left: 16px;
  }

  &__button-pay {
    // color: #fff;
    // font-weight: 400;
    // text-align: center;
    // font-size: 1.25rem;
    // line-height: 1.5;
    // background-color: #4aaabb;
    // border: 0;
    // border-radius: 6px;
    margin-left: auto;
    cursor: pointer;
    // &:hover {
    //   background-color: #00b8d9;
    // }
  }
}
