<!-- Main Page - Users List -->
<div class="c-users-page">
  <ul class="c-users-page__user-list">
    <li
      class="c-users-page__user"
      *ngFor="let user of users"
      (click)="onClickTransactionsDialog(user)"
    >
      <img src="{{ user.img }}" alt="UserImg" class="c-users-page__user-img" />
      <div class="c-users-page__user-info">
        <div class="c-users-page__user-info--username">
          {{ user.username }}
        </div>
        <div class="c-users-page__user-info--name">{{ user.name }}</div>
      </div>
    </li>
  </ul>
</div>
