app-payment-modal {
  display: flex;
  width: rem(400px);

  app-payment-select-amount,
  app-payment-confirmation {
    width: 100%;

    .payment-modal {
      &--title {
        font-size: rem(25px);
        letter-spacing: rem(2px);
      }

      &--smalltext {
        letter-spacing: rem(2px);
        color: $color-gray;
      }
    }
    .mat-form-field,
    input {
      width: 100%;
      color: #fff;
      &[disabled] {
        color: #fff;
      }
    }
    .mat-form-field {
      .mat-error {
        font-size: rem(12px);
      }
    }
    .mat-form-field.edit-value {
      font-size: rem(40px);
    }
    .bottom-action {
      @extend %flex;
      justify-content: flex-end;
      align-items: center;

      > span {
        margin-right: rem(20px);
      }

      .mat-spinner,
      .mat-spinner > svg {
        width: rem(30px) !important;
        height: rem(30px) !important;

        // circle {
        //   stroke: $bg-gray-light;
        // }
      }

      button {
        &.loading-payment {
          background: transparent;
          box-shadow: none;
        }
      }
    }
  }

  .payment-modal {
    &__success_user {
      background: #131313;
      border-radius: 10px;
      width: 100%;
      padding: rem(10px) rem(20px);
      margin: rem(20px) 0;

      @extend %flex;
      @extend %items-center;

      img {
        width: 60px;
        border-radius: 50%;
        margin-right: rem(15px);
      }

      span {
        display: block;

        color: #fff;
      }

      small {
        color: $color-gray;
      }
    }

    &__total {
      display: flex;
      flex-direction: column;
      align-items: center;

      color: $color-gray;

      span,
      small,
      strong {
        letter-spacing: 1px;
        @extend %block;
      }

      strong {
        font-size: rem(35px);
        color: $primary-green;
        letter-spacing: 2px;
        margin: rem(15px) 0;
      }
    }
  }

  .payment-success-container,
  .payment-error-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .mat-icon {
      width: rem(60px);
      height: rem(60px);
      font-size: rem(60px);
      color: #131313;
      margin-bottom: rem(15px);
    }

    .pic-button {
      background: $bg-gray-dark;
      color: $color-gray;
      width: 100%;
      margin-top: rem(50px);
    }
  }

  app-payment-error {
    small {
      text-align: center;
      margin-top: rem(30px);
    }
  }
  .mat-input-element,
  .mat-select-value-text,
  .mat-form-field-label {
    color: $color-gray;
  }

  .mat-form-field-label {
    color: $color-gray !important;
  }

  @media screen and (max-width: 1024px) {
    width: 100%;
  }
}
