.app-dialog-panel,
.app-dialog-panel-alert {
    @media (max-width: 576px) {
        max-width: 90vw !important;
    }

    .mat-dialog-container {
        padding: 0;
        @include border-radius('lg');
    }

    .app-dialog-toolbar {
        padding: 0 32px;
        display: flex;
        justify-content: space-between;
        @include background-linear-gradient(#25edae, #18d1d8);

        @media (max-width: 576px) {
            padding: 12px 16px 12px 32px;
            height: auto;
            white-space: normal;
        }

        .app-dialog-title {
            @include font-heading;
            @include color('white');
        }

        .app-dialog-close {
            @include color('white');
            
            &:focus {
                outline: none;
            }
        }
    }

    .app-dialog-content {
        display: block;
        padding: 32px;
    }
}