.app-form-field {
    .mat-form-field-wrapper {
        margin-bottom: -1.25em;
    }

    .app-validator-field-message {
        position: absolute;
        bottom: -16px;
        left: 0;
    }

    .mat-form-field-underline {
        .mat-form-field-ripple {
            @include background-color('primary');
        }
    }
}