.app-user {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .app-user-description {
        display: flex;
        align-items: center;
    }

    .app-user-avatar {
        width: 80px;
        height: 80px;
        border-radius: 100%;
        display: flex;
        overflow: hidden;
        justify-content: center;
        align-items: center;
    }

    .app-user-title {

    }

    .app-user-subtitle {

    }

    .app-user-action {
        
    }
}