@import '../../../variables';

.user {
  padding: 20px;
  display: flex;
  align-items: center;
}

.user-img {
  border-radius: 50%;
  height: 50px;
  width: 50px;
}

.info-wrapper {
  padding: 0 16px;
}

.user-name {
  margin: 0;
  font-size: 0.8em;
  color: color($secondary-palette);
  margin: 4px 0;
}

.user-username {
  font-size: 0.7em;
  color: color($secondary-palette, 'light');
  margin: 4px 0;
}

.pay-button {
  box-shadow: none;
  margin-left: auto;
}

@include desktop-up {
  .user {
    padding: 20px 30px;
  }

  .user-img {
    height: 80px;
    width: 80px;
  }

  .user-name {
    font-size: large;
  }

  .user-username {
    font-size: 0.8em;
  }
}
