$green: #11c76f;
$green-light: #50d67b;
$green-light-2: #77d284;
$green-moss: #223324;
$green-dark: #162319;
$blue: #426dff;
$white: #ffffff;
$white-2: #fafafa;
$white-3: #e6e9e9;
$white-4: #eff0e8;
$white-5: #f0f1e8;
