.text-right {
  text-align: right;
}

.container {
  margin: 0 auto;
}

@media (min-width: $screen-sm) {
  .container {
      width: 750px;
  }
}

@media (min-width: $screen-md) {
  .container {
      width: 970px;
  }
}

@media (min-width: $screen-lg) {
  .container {
      width: 1170px;
  }
}
