$primary-color: #50d67b;
$white-color: #fff;

$base-font-size: 16px;
$font-weight-bold: 700;

$base-space: 8px;

$base-horizontal-padding: $base-space * 2;
$base-vertical-padding: $base-space;

$base-border-radius: 4px;

$form-field-border-color: #ccc;

$card-border-color: #e6e7e8;
$card-box-shadow: 0 1px 5px 0 rgb(0 0 0 / 3%), 0 2px 3px 0 rgb(0 0 0 / 6%);

$modal-backdrop-color: rgba(0, 0, 0, 0.5);
$modal-base-width: 420px;

$screen-lg: 1200px;
$screen-md: 992px;
$screen-sm: 768px;
