.row {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin-right: -$base-horizontal-padding;
  margin-left: -$base-horizontal-padding;

  .col {
    padding-right: $base-horizontal-padding;
    padding-left: $base-horizontal-padding;
    margin-bottom: $base-space * 2;

    &.col-25 {
      width: 25%; 
    }

    &.col-50 {
      width: 50%; 
    }

    @media (max-width: $screen-sm) {
      &.col-25,
      &.col-50 {
          width: 100%;
      }
    }
  }
}
