@import '../../../../styles.scss';

.box-card {
  margin: 56px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  &__user {
    margin: 0 12.5px 25px 12.5px;
    width: 100%;
    max-width: 300px;
    box-shadow: 0px 5px 10px 1px rgb(0 0 0 / 20%);
    @include flex(column, space-between, center);

    @media (max-width: 500px) {
      margin: 0 0 25px 0px;
    }
  }

  &__user-content {
    @include flex(column, space-between, center);

    > img {
      border-radius: 50%;
    }
  }

  &__user-info {
    margin: 20px 0;
    text-align: center;

    .username {
      margin: 0;
      font-size: 22px;
      font-weight: 700;
      line-height: 40px;
    }

    .name {
      margin: 0;
      color: $grey-one;

      > strong {
        font-weight: 500;
      }
    }
  }

  &__button {
    background: $primary;
    color: $white;
    padding: 2px 25px;
    text-transform: uppercase;

    @media (max-width: 500px) {
      margin-top: 16px;
    }
  }
}
