<div class="users" *ngFor="let user of users">
  <div class="user">
    <app-user-picture [image]="user.img"></app-user-picture>
    <app-username [user]="user"></app-username>
    <button class="pay-button" (click)="open('payment-modal', user)">
      Pagar
    </button>
  </div>
</div>
<modal id="payment-modal">
  <app-payment-form [showModal]="showModal" [transaction]="transaction" (response)="getResponseMessage($event)">
  </app-payment-form>
</modal>
<modal id="message-modal">
  <app-message [showMessage]="showMessage" [message]="message"></app-message>
</modal>