@charset 'UTF-8';
@import './src/assets/colors/colors';
@import './src/assets/button/button';
.user {
    background: shade($backgroundColor, 96%);
    border-bottom: $borderBottom;
    box-shadow: $myShadow;
    color: $myDarkBlue;
    padding: 20px 40px;  
    display: flex;
    align-items: center;  
    justify-content: center;
    margin-left: 5%;
    margin-right: 4%;
    &:hover{
      background-color: shade($myWhite, 96%);;
    }
  }