@import "src/styles.scss";

.list-card {
  .card-items {
    display: flex;
    align-items: center;
    color: $text;
    justify-content: space-between;
    margin-bottom: 7px;
    border-left: 2px solid $primary-green;

    p {
      font-size: 12px;
      margin: 0px 4px;
    }
  }
}
