<app-modal>
        <div class="title" title>Pagamento para <span>{{user.name}}</span></div>

        <div class="content" content>
            <input type="text" ng-pattern="/^\d+$/" placeholder="R$ 0,00" [appInputCurrency] (keyup)="changeValor($event.target.value)"/>

            <div class="cards">
                <select (change)="changeCard(cards[$event.target.value])">
                    <option *ngFor="let card of cards; let i=index"  [value]="i">Cartão com final {{card.card_number.toString().substr(card.card_number.toString().length - 4)}}</option>
                </select>
            </div>

            <div class="button-container">
                <button type="button" class="pay-button" (click)="onClose()">
                    Voltar
                </button>
                
                <button type="button" class="pay-button" (click)="onPagar()">
                    Pagar
                </button>
            </div>
        </div>
</app-modal>
