<button class="app-user-button" matRipple *ngIf="!loading else templateLoading">
    <div class="app-user-description">
        <ng-content select="app-user-avatar"></ng-content>
    
        <div class="app-user-text">
            <ng-content select="app-user-title, app-user-subtitle"></ng-content>
        </div>
    </div>
    
    <ng-content></ng-content>
</button>

<ng-template #templateLoading>
    <div class="app-user" *ngFor="let item of items">
        <div class="app-user-button">
            <div class="app-user-description">
                <div class="app-user-avatar">
                    <ngx-skeleton-loader appearance="circle" [theme]="{ height: '80px', width: '80px', margin: '0'}"></ngx-skeleton-loader>
                </div>
            
                <div class="app-user-text">
                    <div class="app-user-title">
                        <ngx-skeleton-loader [theme]="{ height: '18px', width: '150px', margin: '0'}"></ngx-skeleton-loader>
                    </div>
                    <div class="app-user-subtitle">
                        <ngx-skeleton-loader [theme]="{ height: '14px', width: '265px', margin: '0'}"></ngx-skeleton-loader>
                    </div>
                </div>
            </div>
    
            <ngx-skeleton-loader [theme]="{ height: '44px', width: '110px', 'border-radius': '50px', margin: '0'}"></ngx-skeleton-loader>
        </div>
    </div>
</ng-template>
