<section class="app-bg-alabaster">
    <div class="container">
        <p *ngIf="isLoading else usersTemplate">Carregando....</p>
    </div>
</section>

<ng-template #usersTemplate>
    <app-user *ngFor="let item of users">
        <app-user-avatar [src]="item.img"></app-user-avatar>
        <app-user-title>{{item.name}}</app-user-title>
        <app-user-subtitle>ID: {{item.id}} - Username: {{item.username}}</app-user-subtitle>
        <app-user-action>Pagar</app-user-action>
    </app-user>
</ng-template>
