<section class="app-bg-alabaster">
    <div class="container">
        <app-user [loading]="true" loadCount="10" *ngIf="isLoading else usersTemplate"></app-user>
    </div>
</section>

<ng-template #usersTemplate>
    <app-user *ngFor="let item of users" (click)="openPayment(item)">
        <app-user-avatar [src]="item.img"></app-user-avatar>
        <app-user-title>{{item.name}}</app-user-title>
        <app-user-subtitle>ID: {{item.id}} - Username: {{item.username}}</app-user-subtitle>
        <app-user-action>Pagar</app-user-action>
    </app-user>
</ng-template>
