<div class="modal-backdrop" *ngIf="isVisible">
  <div class="modal">
    <div class="header">
      <div class="title">
        <div class="title">Recibo de pagamento</div>
        <button class="close" (click)="closeModal()" aria-label="Close">
          X
        </button>
      </div>
      <div class="body">
        <span *ngIf="response.success"
          >O pagamento foi concluído com sucesso.</span
        >
        <span *ngIf="!response.success"
          >O pagamento <strong>não</strong> foi concluido com sucesso.
          <br />
          Motivo: {{ response.status }}
        </span>
      </div>
    </div>
  </div>
</div>
