<app-modal *ngIf="isVisible" (visibility)="closeModal($event)">
  <header-slot>
    <span class="title">Recibo de pagamento</span>
  </header-slot>
  <body-slot>
    <div class="body" [@onVisibilityChange]>
      <span *ngIf="response.success" class="body__response">
        <img
          class="body__icon"
          src="https://icon-library.com/images/success-icon/success-icon-24.jpg"
        />
        O pagamento foi concluído com sucesso.</span
      >
      <span *ngIf="!response.success" class="body__response">
        <img
          class="body__icon"
          src="https://icon-library.com/images/failed-icon/failed-icon-7.jpg"
        />
        <span>O pagamento <strong>não</strong> foi concluido com sucesso.</span>
        <hr class="divisor" />
        <span>{{ response.status }}</span>
      </span>
    </div>
  </body-slot>
  <footer-slot>
    <button type="button" class="payment_button" (click)="closeModal()">
      {{ response.success ? "Fechar" : "Tentar novamente" }}
    </button>
  </footer-slot>
</app-modal>
