@import "../../../vars.scss";

/* ----------------- Status Modal -------------- */


/* ---------- Modal ----------- */

.modal {
    background: $white;
    width: 25rem;
    height: 18rem;
    border-radius: 1rem;
    @media (max-width: 480px) {
        width: 90%;
    }
    .title-container {
        background-color: $background-light;
        height: 5rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem 2rem;
        border-radius: 0.9rem 0.9rem 0 0;
        color: $black;
        font-size: 0.9rem;
        div {
            font-size: 1.5rem;
            margin-top: 1rem;
            color: $green;
            @media (max-width: 480px) {
                font-size: 1.2rem;
            }
        }
    }
    .content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        p {
            margin-top: 0.5rem;
            @media (max-width: 480px) {
                text-align: center;
            }
        }
        svg {
            width: 2rem;
            margin-top: 2rem;
        }
        .aproved svg {
            color: $green-light;
        }
        .denied svg {
            color: $red-error;
        }
    }
}