
<h1 mat-dialog-title> Pagamento para {{user.name}}</h1>

<form [formGroup]="paymentForm" class="example-form">
<mat-dialog-content class="payment-container">
    <mat-form-field class="value-field" appearance="outline" >
      <mat-label>Valor*:</mat-label>
      <input type="text" 
      matInput 
      formControlName="cash" 
      currencyMask 
      [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',', align: 'left' }" 
      placeholder="R$ 0,00">
      <mat-error>Campo obrigatório</mat-error>
    </mat-form-field>
    <mat-form-field class="value-field" appearance="outline">
      <mat-label>Cartão*:</mat-label>
      <mat-select formControlName="card" disableRipple>
        <mat-option *ngFor="let card of listCards" [value]="card.card_number">
          {{ card.card_number }}
        </mat-option>
      </mat-select>
      <mat-error>Campo obrigatório</mat-error>
    </mat-form-field>

 
</mat-dialog-content>
<mat-dialog-actions class="actions-wrapper" align="center">
	<button class="payment-button" mat-flat-button color="accent" (click)="handlePayment()" tabindex="1" [disabled]="paymentForm.invalid">
  Pagar</button>
	<button mat-stroked-button mat-dialog-close tabindex="-1"> Cancelar</button>
</mat-dialog-actions>   
</form>