<div class="modal-backdrop">
  <div class="modal">
    <div class="title">Pagamento para <span>{{name}}</span></div>

    <form class="content" [formGroup]="transactionForm">
      <input
        type="number"
        placeholder="R$ 0,00"
        formControlName="valuePayment"
      />
  
      <div class="cards">
        <select formControlName="card">
          <option
            selected
            [value]="card.card_number"
            *ngFor="let card of cards"
          >
            Cartão com final {{ card.card_number.substr(-4) }}
          </option>
        </select>
      </div>
      <button type="button" class="pay-button" (click)="sendPayment()">
        Pagar
      </button>
    </form>
  </div>
</div>
