<div class="modal">
  <div class="modal__header">
    <div class="modal__title">Recibo de pagamento</div>
    <div class="modal__close-btn" (click)="onCloseBtn()">&#x2715;</div>
  </div>

  <div class="modal__content" *ngIf="transactionInfo.status" >
    <img src="../../../../assets/img/checked.svg" class="modal__success-icon">
    <p class="modal__value">{{ transactionInfo.value | currency: 'BRL' : 'symbol' : '.2-2' }}</p>
    <p class="modal__msg">O pagamento foi concluido com sucesso.</p>
  </div>

  <div class="modal__content" *ngIf="!transactionInfo.status" >
    <img src="../../../../assets/img/cancel.svg" class="modal__success-icon">
    <p class="modal__msg">O pagamento <strong>não</strong> foi concluido com sucesso.</p>
  </div>
</div>