@import "../../variables/colors.scss";

.avatar {
  display: block;
  border-radius: 50%;
  height: 80px;
  width: 80px;
}

.stroke {
  border: solid 1px $primary-color;
}

@media only screen and (max-width: 768px) { 
  .avatar {
    height: 55px;
    width: 55px;
  }
}