@import "src/styles.scss";
.icon-empty {
  border-radius: 50%;
  height: 5vh;
  width: 9vw;
  border: 3px solid $primary-green;
  align-items: center;
  display: flex;
  justify-content: center;
  color: $text;

  &:hover {
    border: 3px solid $dark-green;
    opacity: 0.5;
  }
}

img {
  border-radius: 50%;
  height: 9vh;
  border: 3px solid $primary-green;

  &:hover {
    border: 3px solid $dark-green;
    opacity: 0.5;
  }
}
