<nav class="navbar">
  <div class="navbar__content">
    <a
      class="navbar__link link"
      [routerLink]="['/users']"
      [routerLinkActive]="['link-primary']"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      <span class="navbar__menu mdi mdi-account-group"></span>
      <small class="navbar__label">Pessoas</small>
    </a>
    <a
      class="navbar__link link"
      [routerLink]="['/payments']"
      [routerLinkActive]="['link-primary']"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      <span class="navbar__menu mdi mdi-history"></span>
      <small class="navbar__label">Pagamentos</small>
    </a>
  </div>
</nav>

<nav class="navbar__invisible"></nav>
