@import '~src/sass/variables';
@import '~src/sass/utils';

.navbar {
	padding: 15px;
	position: fixed;
	bottom: 0;
	width: 100%;
	background-color: $light;
	@include box-shadow();

	&__invisible {
		height: 94px;
		visibility: hidden;
	}

	&__content {
		display: flex;
		max-width: 200px;
		margin: auto;
		justify-content: space-between;
	}

	&__pay {
		background-color: $primary;
		color: $light;
		border-radius: 100%;
	}

	&__link {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	&__menu {
		font-size: 26px;
	}

	&__label {
		font-size: 12px;
	}
}
