<nav class="navbar">
  <div class="navbar__content">
    <a class="navbar__link link" [routerLink]="['/home']" [routerLinkActive]="['link-primary']">
      <span class="navbar__menu mdi mdi-account-group"></span>
      <small class="navbar__label">Amigos</small>
    </a>
    <div>Pagar</div>
    <a class="navbar__link link" [routerLink]="['/payments']" [routerLinkActive]="['link-primary']">
      <span class="navbar__menu mdi mdi-history"></span>
      <small class="navbar__label">Pagamentos</small>
    </a>
  </div>
</nav>

<nav class="navbar__invisible"></nav>
