<div class="modal-backdrop" *ngIf="isVisible">
  <div class="modal">
    <div class="header">
      <div class="title">
        Pagamento para <span>{{ user.username }}</span>
      </div>
      <button class="close" (click)="closeModal()" aria-label="Close">X</button>
    </div>
    <div class="body" [formGroup]="paymentForm" *ngIf="!loading">
      <input
        type="number"
        placeholder="R$ 0,00"
        id="value"
        formControlName="value"
      />

      <div class="cards">
        <select id="card" name="card" formControlName="card">
          <option [disabled] [value]="''">Selecione o cartão com final</option>
          <option *ngFor="let card of cards" [ngValue]="card">
            {{ card.card_number }}
          </option>
        </select>
      </div>
    </div>
    <div class="body" *ngIf="loading">
      <div class="loader"></div>
    </div>
    <div class="footer">
      <button
        type="button"
        class="pay-button"
        (click)="getTransaction()"
        [disabled]="!paymentForm.valid"
      >
        Pagar
      </button>
    </div>
  </div>
</div>
