.column {
    float: left;
    width: 25%;
    padding: 1rem;
    border-bottom: 1px solid #E3E3E3;
}

.row:after {
content: "";
    display: table;
    clear: both;
}

.pull-right {
    text-align: right;
}

.statement-order {
    font-size: 80%;
    float: right;
}

@media screen and (max-width: 1024px) {
    .column {
        width: 100%;
        padding-top: 0.4rem;
    }
}