<div class="modal-backdrop">
  <div class="modal">
    <div class="header">
      <ng-content select="header-slot"></ng-content>
      <a class="close-button" *ngIf="!loading" (click)="closeModal()" href="#"
        ><img
          src="https://icon-library.net/images/cancel-icon/cancel-icon-19.jpg"
      /></a>
    </div>
    <div class="body">
      <ng-content select="body-slot"></ng-content>
    </div>

    <div class="footer">
      <button
        type="button"
        class="payment_button"
        [disabled]="loading || form"
        (click)="buttonAction()"
      >
        <ng-content select="footer-slot"></ng-content>
      </button>
    </div>
  </div>
</div>
