<div class="c-pay-dialog">
  <h2 mat-dialog-title class="c-pay-dialog__title">
    Pagamento para
    <span class="c-pay-dialog__title--user-name">Nome do Usuário</span>
  </h2>

  <mat-dialog-content class="c-pay-dialog__content">
    <input
      type="number"
      placeholder="R$ 0,00"
      class="c-pay-dialog__content--value-input"
    />

    <div>
      <select class="c-pay-dialog__content--cards">
        <option selected>Cartão com final 0123</option>
      </select>
    </div>
  </mat-dialog-content>

  <div class="c-pay-dialog__actions">
    <button
      mat-button
      mat-dialog-close
      type="button"
      class="c-pay-dialog__actions--cancel-button"
    >
      Cancelar
    </button>
    <button
      mat-raised-button
      mat-dialog-close
      type="button"
      class="c-pay-dialog__actions--pay-button"
    >
      Pagar
    </button>
  </div>
</div>
