@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap");
.app {
  font-family: "Montserrat", sans-serif;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #fff;
  .header {
    background-color: #21c25e;
    height: 100%;
    width: 100%;
    text-align: center;
    &__logo {
      width: 200px;
      height: 100px;
      object-fit: cover;
    }
  }
}
