@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap");
.app {
  font-family: "Montserrat", sans-serif;
  height: 100vh;
  display: flex;
  justify-content: center;
  background: linear-gradient(186.5deg, #395f35 0.83%, #4d9446 100%);
}
