<div class="head">
  <span class="title">
    Usuários
  </span>
</div>
<div class="list">
  <div class="card">
    <div class="user">
      <div class="picture">
        <img src="assets/img/user.png" alt="Imagem do usuário">
      </div>
      <div class="name">
        <div class="full">
          Eduardo Santos
        </div>
        <div class="username">
          @eduardo.santos
        </div>
      </div>
    </div>
    <a class="pay" routerLink="/pagamento">
      <i class="material-icons">
        attach_money
      </i>
      Pagar
    </a>
  </div>
</div>
