<app-modal [userPayment]="userPayment" [viewModal]="viewModal"></app-modal>
<app-loading  *ngIf="viewLoading"></app-loading>

<!-- FIXME: criar um componente reutilizável -->
<section class="alert" *ngIf="alert.view">
    <p [innerText]="alert.text"></p>
</section>


<section class="content">
    <h4>Contatos</h4>
    <div class="user d-flex pointer" *ngFor="let user of userList" 
        (click)="setUser(user)">
        <img [src]="user.img" [alt]="user.name" [title]="user.name" height="50px" />
        <div>
            <div class="user-id-username">
                <span [innerText]="user.username"></span>
            </div>
            <div class="user-name">
                <small [innerText]="user.name"></small>
            </div>
        </div>
    </div>
</section>