<!-- TODO: criar um componente reutilizável -->
<section class="alert" *ngIf="alert.view">
    <p [innerText]="alert.text"></p>
</section>

<!-- TODO: criar um componente reutilizável -->
<div *ngIf="loading.users" [ngClass]="loading.users? 'loading':''">
    <img [src]="loading.img">
</div>

<section class="users">
    <div class="user" *ngFor="let user of userList">
        <img [src]="user.img" [alt]="user.name" [title]="user.name" />
        <div class="info-wrapper">
            <div class="user-name">
                <span [innerText]="user.name"></span>
            </div>

            <div class="user-id-username">
                <!-- TODO: tirar CSS de linha -->
                <div style="display: flex;">
                    <p>ID: <span [innerText]="user.id"></span></p>
                    <p>Username: <span [innerText]="'- ' + user.username"></span></p>
                </div>
            </div>
        </div>

        <button type="button" class="pay-button">
            Pagar
        </button>
    </div>
</section>