@import "../../app.component.scss";

.content {
    h4 {
        margin-left: 15px;
    }

    img {
        border-radius: 65px;
        margin: 0px 10px 15px;
    }

    .user-name {
        small {
            color: $gray-dark;
        }
    }
}
