@import '~src/sass/variables';

.card {
    display: flex;
    align-items: center;
    padding: 20px;
    background-color: #FAFAFA;
    cursor: pointer;
    border-radius: 20px;
    margin: 10px;

    &:hover {
        -webkit-box-shadow: 0 0 10px 0 rgb(0 0 0 / 10%);;
        -moz-box-shadow: 0 0 10px 0 rgb(0 0 0 / 10%);;
        box-shadow: 0 0 10px 0 rgb(0 0 0 / 10%);
    }

    &__image {
        width: 70px;
        height: 70px;
        border-radius: 10px;
        margin-right: 10px;
    }

    &__info {
        flex: 1;
        display: flex;
        flex-direction: column;
        white-space: nowrap;
        overflow: hidden;

        &--truncated {
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }

    &__name {
        font-weight: bold;
    }
}