// Base colors
$primary-color: #11c76f;
$secondary-color: #474971;
$success-color: #00C853;
$warning-color: #FFD600;
$error-color: #DD2C00;
$white: #FFF;
$black: #000000;
$gray: #F5F5F5;

// Misc colors (highlights, disclaimers, banners, etc)
$highlight-text: #cddc39;
$purple-gradient: #3c3e64;
$shadow: #ececec;