@import '../../../../../assets/styles/_cores';

.modal {
  width: 420px;
  
  background: $branco;
  border-radius: 5px;

  &__titulo {
    height: 4rem;
    
    display: flex;
    align-items: center;
    font-size: 22px;
    padding: 10px;

    background: $verde-principal;
    color: $branco;

    border-radius: 5px;
  }

  &__conteudo {
    width: 100%;
    
    display: flex;
    flex-direction: column;
    
    padding: 20px;

    > span {
      padding: 5px 0px 15px 5px;
      font-weight: bold;
      font-size: 18px;
    }
  }

  &__pagar--button {
    width: 100%;
    height: 50px;
    font-size: 22px;

    border-radius: 25px;
    border: none;

    color: $branco;
    background: $verde-principal;
    cursor: pointer;
    margin-bottom: 15px;
  }

  &__cancelar--button {
    border: none;
    background: transparent;
    
    font-size: 18px;
    color: $verde-principal;
    font-weight: 400;
    cursor: pointer;
  }
}

@media(max-width: 720px) {
  .modal {
    width: 90%;
  }
}