<div class="modal__backdrop">
    <div class="modal">
        
        <div class="modal__titulo">
            Pagamento
        </div>

        <form class="modal__conteudo" [formGroup]="formulario">
            
            <span> {{ nomeUsuario }} </span>

            <input 
                type="text" 
                placeholder="R$ 0,00"
                id="value"
                name="value"
                autofocus
                formControlName="value" 
                [(ngModel)]="pagamento.value"
                [ngClass]="{'input-invalido': displayMessage.value }"
                currencyMask
                [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }" />
           
            <select 
                id="card_number"
                formControlName="card_number" 
                [ngModel]="pagamento.card_number" 
                (change)="onSelecionarCartao($event.target.value)"
                [ngClass]="{'input-invalido': displayMessage.card_number }">
                <option selected value=""> Selecione um cartão </option>
                <option *ngFor="let cartao of cartoes" [value]="cartao.card_number"> 
                    Cartão com final {{ cartao.card_number.substr(cartao.card_number.length -4, 4) }} 
                </option>
            </select>
            
            <button 
                id="btn-pagar"
                type="button" 
                class="modal__pagar--button"
                (click)="onEfetuarPagamento($event)"> Pagar </button>

            <button 
                id="btn-cancelar"
                type="button" 
                class="modal__cancelar--button"
                (click)="onFecharModal($event)"> Cancelar </button>
        </form>
    </div>
</div>