<div class="modal-backdrop">
    <div class="modal">
        
        <div class="title">
            Pagamento para <span> {{ userName }} </span>
        </div>

        <div class="content">

            <input 
                type="number" 
                placeholder="R$ 0,00"
                [(ngModel)]="payload.value" />

            <div class="cards">
                <select 
                    [ngModel]="payload.card_number" 
                    (change)="onselecionarCartao($event.target.value)">
                    <option *ngFor="let card of cards" [value]="card.card_number"> Cartão com final {{ card.card_number }} </option>
                </select>
            </div>

            <button 
                type="button" 
                class="pay-button"
                (click)="oncloseModal($event)"> Cancelar </button>

            <button 
                type="button" 
                class="pay-button"
                (click)="onefetuarPagamento($event)"> Pagar </button>
        </div>
    </div>

    
</div>