<div class="modal-backdrop">
    <div class="modal">
        
        <div class="title">
            Pagamento para <span> {{ userName }} </span>
        </div>

        <div class="content">

            <input 
                type="number" 
                placeholder="R$ 0,00"
                [(ngModel)]="pagamento.value" />

            <div class="cards">
                <select 
                    [ngModel]="pagamento.card_number" 
                    (change)="onSelecionarCartao($event.target.value)">
                    <option *ngFor="let cartao of cartoes" [value]="cartao.card_number"> Cartão com final {{ cartao.card_number }} </option>
                </select>
            </div>

            <button 
                type="button" 
                class="pay-button"
                (click)="onFecharModal($event)"> Cancelar </button>

            <button 
                type="button" 
                class="pay-button"
                (click)="onEfetuarPagamento($event)"> Pagar </button>
        </div>
    </div>

    
</div>