<section *ngIf="visible" class="modal-backdrop">
  <div class="modal">
    <div class="header">
      <p>Pagamento para <span>usuário selecionado</span></p>
      <button class="close" *ngIf="closable" (click)="close()" aria-label="Close">X</button>
    </div>

    <div class="content">
      <input type="number" id="transaction-value" formControlName='transaction-value' placeholder="R$ 0,00" />

      <select  id="transaction-card">
        <option [disabled]="true">Número do cartão</option>
        <option *ngFor="let card of cards">{{ card.card_number }}</option>
      </select>
      
      <div class="footer">
        <app-pay-button class="pay-button" (click)="confirmTransaction()"></app-pay-button>

        <strong class="response" *ngIf="status">Transação {{ transactions.status }}! ;)</strong>
      </div>
    </div>
  </div>
</section>
