.hide {
  visibility: hidden;
}

.show {
  animation: show .5s;

  & .modal-wrapper {
    animation: slide .25s;
  }
}

.modal-backdrop {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(#000000, .5);
}

.modal-wrapper {
  background-color: #fff;
  border-radius: 5px;
  overflow: hidden;
}

@keyframes show {
  from {
    opacity:0;
  }
  to {
    opacity:1;
  }
}

@keyframes slide {
  0% {
    transform: translateY(100vh);
    opacity: 0;
  }
  65% {
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}