<ng-container *ngIf="display$ | async as display">
  <section [class.open]="display === 'open'" (click)="close()">
    <div (click)="$event.stopPropagation()">
      <button class="close" type="button" (click)="close()">x</button>

      <h1 class="title">Pagamento para <span>{{ userName }}</span></h1>

      <form #f="ngForm" (ngSubmit)="submit(f.value)">
        <div class="content">
          <div class="transaction-value">
            <span>Insira um valor: </span>
            <input type="number" id="transactionValue" placeholder="R$ 0,00" [(ngModel)]="transaction.value"
              name="transactionValue" required />
          </div>
          <div class="cards">
            Cartão com final
            <select [(ngModel)]="transaction.creditCard" name="creditCard">
              <option *ngFor="let card of cards" [ngValue]="card" required>
                {{ card.card_number | slice:12:16}}</option>
            </select>
          </div>
        </div>
       <button type="submit" class="pay-button">
          Pagar
        </button>
      </form>
    </div>
  </section>
</ng-container>