<ng-container *ngIf="display$ | async as display">
  <section [class.open]="display === 'open'" (click)="close()">
    <div (click)="$event.stopPropagation()">
      <button class="close" type="button" (click)="close()">X</button>

      <div class="title">Pagamento para <span>Nome do Usuário</span></div>
      
      <div class="content">
        <input type="number" placeholder="R$ 0,00" />
      
        <div class="cards">
          <select>
            <option selected>Cartão com final 0123</option>
          </select>
        </div>
      
        <button type="button" class="pay-button">
          Pagar
        </button>
      </div>
    </div>
  </section>
</ng-container>