section {
  visibility: hidden;
  opacity: 0;

  &.open {
    visibility: inherit;
    opacity: 1;
  }

  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms ease-in;

  > div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: var(--white);
    padding: 64px;
    border-radius: 8px;
    box-shadow: 0 0 8px 4px rgba(0, 0, 0, 0.1);
  }

  .content > .transaction-value {
    margin-bottom: 12px;

    input {
      box-shadow: 1px 4px 10px -2px rgb(0 0 0 / 20%);
      border: 1px solid var(--white);
      background: var(--white);

      &input[type="number"] {
      -moz-appearance:textfield;
      }

      &input::-webkit-outer-spin-button,
      &input::-webkit-inner-spin-button {
        -webkit-appearance: none;
      }
    }
  }

  .content > .cards {
    margin-bottom: 20px;

    select {
      box-shadow: 1px 4px 10px -2px rgb(0 0 0 / 20%);
      border: 1px solid var(--white);
      background: var(--white);
    }
  }

  .pay-button {
    outline: none;
    border: none;
    background-color: var(--primary);
    padding: 7px;
    border-radius: 5px;
    cursor: pointer;
    color: var(--white);
    width: 100%;

    &.pay-button:hover {
      background-color: var(--secondary);
      transition: all 0.2s ease-in;
    }
  }

  button.close {
    font-family: sans-serif;
    background: none;
    color: var(--grey);
    border: none;
    cursor: pointer;
    outline: none;
    position: absolute;
    top: 0;
    left: 0;

    padding: 16px;
  }
}
