<div class="modal" *ngIf="!isOpenFeedbackModal">
  <h1 class="title">Pagamento para <span>{{ userName }}</span></h1>

  <form [formGroup]="form" class="content" (ngSubmit)="onFormSubmit(form.value)">
    <label for="paymentValue">Valor do pagamento</label>
    <input
      id="paymentValue"
      class="basic-style"
      type="number"
      placeholder="R$ 0,00"
      formControlName="paymentValue"
      required
    />

    <div class="cards">
      <select  class="basic-style" formControlName="selectedCardOption" required>
        <option selected disabled hidden [ngValue]="null">Escolha um cartão</option>
        <option *ngFor="let card of cards" [value]="card.id">Cartão com final {{ card.card_number.substring(11, 15) }} </option>
      </select>
    </div>

    <button type="button" class="pay-button basic-style" (click)="handleCancelPayment()">
      Cancelar
    </button>

    <button type="submit" class="pay-button basic-style" [disabled]="form.invalid">
      Pagar
    </button>
  </form>
</div>

<div class="modal" *ngIf="isOpenFeedbackModal">
  <h1 class="title">
    Recibo de pagamento
  </h1>

  <div class="content">
    O pagamento <strong *ngIf="!isPaymentValid">não</strong> foi concluido com sucesso.
  </div>

  <button class="basic-style close" type="button" (click)="closeFeedbackModal()">Fechar</button>
</div>
