.modal {
  background: #fff;
  margin: 3.2rem 0;

  width: 42rem;
}

.modal > .title {
  background: #474971;
  color: #ffffff;
  font-weight: 500;
  font-size: 1.6rem;
  padding: 1.6rem 2.4rem;
}

.modal > .title > span {
  color: #cddc39;
}

.modal > .content {
  font-size: 2.2rem;
  padding: 3.2rem;
  text-align: center;
}

.modal > .content > input {
  margin-top: 1.8rem;
}

.modal > .content > .cards > select {
  background: #fff;
  margin-top: 1.2rem;
}

.modal > .content > button {
  margin-top: 2.4rem;

  &:disabled {
    cursor: not-allowed;
  }
}

.modal > .content > button:first-of-type {
  margin-right: 2.4rem;
}

.modal > .close {
  width: 100%;
}

.modal .basic-style {
  border: .1rem solid #ccc;
  border-radius: .6rem;
  font-size: 2.2rem;
  padding: 0 .8rem;
  height: 4.2rem;
}
