@import '../../../assets/scss/variables';

.card {
  background: $white;
  box-shadow: 0 5px 10px rgb(154 160 185 / 5%), 0 15px 40px rgb(166 173 201 / 20%);
  border-radius: 30px;

  @at-root #{&}__user {

    @at-root #{&}__name {
      font-size: 1.7rem;
      font-weight: 700;
      color: $title;
    }
    @at-root #{&}__img {
      width: 5rem;
      border-radius: 50%;
    }
    @at-root #{&}__username {
      font-size: 1.3rem;
      line-height: 2.3rem;
      color: $text;
    }
    @at-root #{&}__id {
      font-size: .9rem;
    }
  
  }
}
// min-width: 316px;
.pay-button {
  background-color: rgba($pp-green, 1);
  color: $white;
  border: 1px solid transparent;
  min-width: 8rem;
  width: 95%;
  height: 3rem;
  border-radius: .7rem;
  transition: 0.4s;

  &:hover {
    transform: scale(1.1);
    background-color: rgba($pp-green, .7);
  }
}
