<app-loading *ngIf="!isLoaded"></app-loading>
<div *ngIf="isLoaded" class="container">
  <div
   @FadeIn 
   *ngFor="let user of users" 
   class="row justify-content-center">
    <div 
     class="col-md-9 card mt-4 p-4">
      <div class="container">
        <div class="row flex-column flex-md-row">
           <div class="col-12 col-md-9 pl-4 pl-md-0 card__user">
            <div class="row">
              <div class="col mb-4 card__user__name">
                {{ user.name }}
              </div>
            </div>
            <div class="row">
              <div class="col-3 col-md-3 col-lg-3 col-xl-2">
                <img class="card__user__img" [src]="user.img" />
              </div>
              <div class="col pr-0 pl-4 pl-sm-0 pl-md-4 pl-lg-0 pl-xl-4">
                <div class="card__user__username">
                  <span class="d-none d-sm-inline d-md-none d-lg-inline">Username:</span> {{user.username}}
                </div>
                <div class="card__user__id">
                  ID: {{ user.id }}
                </div>
              </div>
            </div>
           </div>
           <div class="col-12 col-md-3 d-flex justify-content-center align-items-center">
            <button
             class="pay-button mt-4"
             (click)="initTransaction(user)">
              Pagar
           </button>
           </div> 
        </div>

      </div>
    </div>

  </div>
</div>  