<div 
    class="users" 
    *ngFor="let usuario of usuarios">

    <div class="user">
        <img [src]="usuario.img" />
        
        <div class="info-wrapper">
            <div class="user-name">
                {{ usuario.name }}
            </div>

            <div class="user-id-username">
                ID: {{ usuario.id }} - Username: {{ usuario.username }}
            </div>
        </div>

        <button 
            type="button" 
            class="pay-button"
            (click)="onPagarUsuario(usuario.id)"> Pagar </button>
    </div>
</div>