<div class="usuarios" *ngFor="let usuario of usuarios">
    <div class="usuarios__item">
        <div class="usuarios__container">
            <img [src]="usuario.img" />
            
            <div class="usuarios__informacoes">
                <span> {{ usuario.name }} </span>
                <span> {{ usuario.username }} </span>
            </div>
        </div>
    
        <button 
            type="button" 
            class="usuarios__pagar--botao"
            (click)="onPagarUsuario(usuario.id)"> Pagar </button>
    </div>
</div>