@import '../../../../styles.scss';

.footer {
  height: 100px;
  @include flex(row, center, center);

  > span {
    font-size: 1rem;
    color: $grey-one;
  }

  .logo {
    width: 35px;
    margin-left: 5px;
    border-radius: 10px;
  }
}
