<app-dialog-content>
    <form [formGroup]="form">
        <div class="form-group mb-4 pb-3">
            <mat-form-field class="app-form-field">
                <mat-label>Digite um valor</mat-label>
                <input matInput formControlName="value" autocomplete="off" currencyMask />
                <app-validator-field-message [control]="form.get('value')"></app-validator-field-message>
            </mat-form-field>
        </div>
        <div class="form-group mb-4 pb-3">
            <mat-form-field class="app-form-field">
                <mat-label>Selecione um cartão</mat-label>
                <mat-select (valueChange)="onChangeCard($event)" formControlName="card">
                    <mat-option [value]="item" *ngFor="let item of cards">{{item.card_number}}</mat-option>
                </mat-select>
                <app-validator-field-message [control]="form.get('card')"></app-validator-field-message>
            </mat-form-field>
        </div>
        <div class="d-flex justify-content-center pt-4">
            <button appButtonPrimary app-btn-block app-btn-lg (click)="transaction()" *ngIf="!isLoading else loadingTemplate">
                Pagar
            </button>
        </div>
    </form>
</app-dialog-content>

<ng-template #loadingTemplate>
    <mat-spinner class="app-spinner app-clr-primary" diameter="60" strokeWidth="4"></mat-spinner>
</ng-template>
