<form [formGroup]="form">
    <div class="form-group">
        <mat-form-field>
            <mat-label>Digite um valor</mat-label>
            <input matInput formControlName="value" />
        </mat-form-field>
    </div>
    <div class="form-group">
        <mat-form-field>
            <mat-label>Selecione um cartão</mat-label>
            <mat-select formControlName="card">
                <mat-option [value]="item" *ngFor="let item of cards">{{item.card_number}}</mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div class="d-flex justify-content-center">
        <button mat-button (click)="transaction()">Pagar</button>
    </div>
</form>

{{form.value | json}}