<div class="users">
    <div class="user" *ngFor="let user of userList">
      <img [src]="user.img" />
      <div class="info-wrapper">
        <div class="user-name">
          {{user.name}}
        </div>
  
        <div class="user-id-username">
          {{user.username}}
        </div>
      </div>
  
      <button type="button" class="pay-button" (click)="selectToPay(user.id)">
        Pagar
      </button>
    </div>
</div>

<div class="modal-backdrop" *ngIf="showModal">
  <app-transaction-modal [receiver]='selectedUser' (close)="receiveCloseTransactionModal($event)"></app-transaction-modal> 
</div>

<div class="modal-backdrop" *ngIf="showRecipt">
  <app-recipt-modal [success]='success' (close)="receiveCloseReciptModal($event)"></app-recipt-modal>
</div>
