.wraper{
  width: 100vw;
  height: 100vh;
  min-width: 642px;
  background-color: var(--white);

  .container{
    display: flex;
    align-items: center;
    flex-direction: column;
  
    .search{
      input{
        height: 48px;
        width: 400px;
        border: none;
        border-bottom: 5px solid var(--green);
        background-color: var(--white);
        color: var(--dark-green);
        font-size: 24px;
        padding: 5px 5px 5px 15px;

        &::placeholder{
          color: var(--dark-green);
        }
      }
  
      margin-top: 30px;
    }
  
    .users{
      margin-top: 30px;
      max-height: calc(100vh - 108px);
      padding-bottom: 0;
      
      overflow: scroll;
  
      .user {
        width: 65vw;  
        background: linear-gradient(186.5deg, var(--green) 0.83%, var(--green) 100%);
        box-shadow: 0 1px 0 var(--dark-green), 0px -1px 0px var(--dark-green);
        color: var(--dark-green);
        padding: 20px 40px;
      
        display: flex;
        align-items: center;

        .not-found{
          p{
            font-size: 32px;
          }
        }
    
        .user-pp{
          border: 2px solid var(--white);
          border-radius: 50%;
          display: flex;
          justify-content: center;
          align-items: center;

          img {
            border-radius: 50%;
            height: 80px;
            width: 80px;
  
            border: 2px solid var(--green);
          }
        }
    
        .info-wrapper {
          margin-left: 16px;

          .user-name{
            font-weight: bold;
          }
        }
    
        .pay-button {
          margin-left: auto;
          height: 48px;
          width: 200px;
          border: none;
          background: var(--white);
          color: var(--dark-green);
          font-weight: bold;
          border-radius: 6px;
          cursor: pointer;

          &:hover{
          color: var(--white);
          background: var(--dark-green);
          }
        }
      }
    }
  }
}

.modal-backdrop {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  position: fixed;
  top: 0;
  left: 0;

  height: 100vh;
  width: 100vw;

  &.hidden {
    display: none;
  }

  &:after {
    content: "";
  
    background: rgba(0, 0, 0, 0.5);
  
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
  }
}
