.user {
    background: linear-gradient(186.5deg, var(--green) 0.83%, var(--green) 100%);
    box-shadow: 0 1px 0 var(--dark-green), 0px -1px 0px var(--dark-green);
    color: var(--white);
    padding: 20px 40px;
  
    display: flex;
    align-items: center;

  img {
    border-radius: 50%;
    height: 80px;
    width: 80px;
  }

  .info-wrapper {
    margin-left: 16px;
  }

  .pay-button {
    margin-left: auto;
  }
}

.modal-backdrop {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  position: fixed;
  top: 0;
  left: 0;

  height: 100vh;
  width: 100vw;

  &.hidden {
    display: none;
  }

  &:after {
    content: "";
  
    background: rgba(0, 0, 0, 0.5);
  
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
  }
}
