<div class="user rounded-border" (click)="openPayableCard()">
    <img src="{{ user.img }}" alt="{{ user.name }}">
    <div class="info-wrapper">
        <div class="name">
            {{ user.name }}
        </div>

        <div class="username">{{ user.username}}</div>
    </div>
</div>
<app-transaction-card
    (closePaymentModal)="showPayableCard = false"
    (transaction)="openReceiptModal($event)"
    *ngIf="isPayableCard && showPayableCard"
    [selectedUser]="user">
</app-transaction-card>

<app-receipt-card
    *ngIf="showReceiptCard"
    (closeReceiptModal)="showReceiptCard = false"
    [transaction]="transaction"
    [success]="success">    
</app-receipt-card>