<div class="credit-card-list">
    <span>
      Cartões de crédito disponiveis:
    </span>

    <button picButton matTooltip="Visualizar cartão" (click)="openCreditCardVisualization(card)" *ngFor="let card of creditCardsList">
      {{ card.numberView }}
      <mat-icon>credit_card</mat-icon>
    </button>
  <!-- <div>
    <app-credit-card></app-credit-card>
  </div> -->
</div>

<cdk-virtual-scroll-viewport itemSize="30" class="users-list" *ngIf="loadingUsers">
  <mat-card *ngFor="let user of skeletonItems" skeleton [loading]="true">
  </mat-card>
</cdk-virtual-scroll-viewport>

<cdk-virtual-scroll-viewport itemSize="30" class="users-list" *ngIf="users$">
  <mat-card *cdkVirtualFor="let user of users$ | async" skeleton [loading]="loadingUsers">
    <mat-card-header>
      <div>
        <img [src]="user.img" [alt]="user.name" />
      </div>
      <div class="text">
        <mat-card-title>{{ user.name }}</mat-card-title>
        <mat-card-subtitle>{{ user.username }}</mat-card-subtitle>
      </div>
    </mat-card-header>
    <mat-card-actions>
      <button mat-raised-button (click)="openPaymentModal(user)">
        Pagar
        <mat-icon>paid</mat-icon>
      </button>
    </mat-card-actions>
  </mat-card>
</cdk-virtual-scroll-viewport>


<div class="users-list">

</div>
