  <div class="modal">
    <div class="title">Pagamento para <span>{{user.name}}</span></div>

    <div class="content">
      <input 
        class="value" 
        [(ngModel)]="transaction.value" 
        placeholder="R$ 0,00" 
        currencyMask [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }"
      />

      <div class="cards">
        <mat-form-field [floatLabel]="'never'">
          <mat-select [formControl]="cardControl" required placeholder="Selecione um cartão">
            <mat-option *ngFor="let card of cards" [value]="card">
              Cartão com final {{card.card_number.slice(-4)}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="cardControl.hasError('required')">Favor selecionar um cartão.</mat-error>
        </mat-form-field>
      </div>

      <button type="button" 
        class="pay-button" 
        [disabled]="!cardControl.value || !(transaction.value > 0)"
        (click)="sendTransaction(transaction)"> 
        Pagar
      </button>
    </div>
  </div>