.modal {
  border: 1px solid #E3E3E3;
  border-radius: 12px;
  background: #fff;
  margin: 32px 0;
  width: 420px;
}

.modal > .header > .title {
  border-radius: 12px 12px 0 0;
  padding: 16px 0px 16px 16px;

  cursor: default;

  background: #E3E3E3;
  color: #404040;

  font-weight: 500;
  font-size: 16px;
}

.modal > .header > .title > span {
  color: #4CAF50;
}

.modal > .content {
  padding: 32px;
  text-align: center;
}

.modal > .footer {
  border-top: #E3E3E3 solid 1px;
  text-align: center;
}

.modal > .header > .title > i {
  float: right;
  margin-right: 16px;
}