<div class="modal-backdrop">
    <form [formGroup]="formGroup" (ngSubmit)="pay(selectedUser.id)">
        <div class="modal">
            <div class="title">Pagamento para 
                <span class="username">{{ selectedUser.username }}</span>
            </div>

            <div class="content">
                <input 
                    type="text" 
                    placeholder="R$ 0,00"
                    autofocus
                    currencyMask 
                    formControlName="value" />

                <div class="cards">
                    <select formControlName="cardNumber">
                        <option>Selecione</option>
                        <option 
                            *ngFor="let card of availableCards"
                            [value]="card.card_number">
                            {{ '**** **** **** ' + getLastFourDigits(card.card_number) }}
                        </option>
                    </select>
                </div>

                <button type="submit" class="pay-button">
                    Pagar
                </button>
            </div>
        </div>
    </form>
</div>