<div class="modal-backdrop">
    <form [formGroup]="formGroup" (ngSubmit)="pay(selectedUser.id)">
        <div class="modal">
            <div class="header">
                <div class="title">Pagamento para 
                    <span class="username">{{ selectedUser.username }}</span>
                    <i class="fas fa-times" title="Cancelar"></i>
                </div>
            </div>

            <div class="content">
                <div class="pull-left mb-1">
                    <input 
                        type="text" 
                        placeholder="R$ 0,00"
                        autofocus
                        currencyMask 
                        formControlName="value" />
                    <label for="value ">
                        Valor À Pagar
                    </label>
                </div>

                <div class="cards">
                    <div class="pull-left">
                        <select formControlName="cardNumber">
                            <option disabled selected hidden>Selecione</option>
                            <option 
                                *ngFor="let card of availableCards"
                                [value]="card.card_number">
                                {{ '**** **** **** ' + getLastFourDigits(card.card_number) }}
                            </option>
                        </select>
                        <label for="cardNumberName">
                            Meio de Pagamento
                        </label>
                        <div class="card-wrapper"></div>
                    </div>
                </div>

                <div class="mt-1" *ngIf="formGroup.value.cardNumber !== 'Selecione'">
                    <app-credit-card
                        [cardOwnerName]="currentUserName"
                        [creditCard]="selectedCard">
                    </app-credit-card>
                </div>
            </div>
            <div class="footer">
                <button 
                    type="submit" 
                    class="btn btn-green"
                    [disabled]="disablePaymentButton()">
                    Pagar
                </button>
            </div>
        </div>
    </form>
</div>