<section class="usuario__conteudo">
    <app-usuario-listagem 
        (pagarUsuario)="onPagarUsuario($event)"
        [usuarios]="usuarios$ | async"></app-usuario-listagem>

    <app-usuario-pagamento 
        *ngIf="abrirModal"
        [nomeUsuario]="nomeUsuario"
        [pagamento]="pagamento"
        [cartoes]="cartoes"
        [formulario]="formulario"
        [displayMessage]="displayMessage"
        (efetuarPagamento)="onEfetuarPagamento($event)"
        (fecharModal)="onFecharModal($event)"
        (selecionarCartao)="onSelecionarCartao($event)"
        (carregarEventoValidacao)="carregarEventoValidacao($event)"
        ></app-usuario-pagamento>

    <app-usuario-notificacao 
        *ngIf="abrirNotificacao"
        (fecharNotificacao)="onFecharNotificacao($event)"
        [pagamentoResponse]="pagamentoResponse"></app-usuario-notificacao>
</section>