<app-usuario-listagem 
    (abrirModal)="onAbrirModal($event)"
    (pagarUsuario)="onPagarUsuario($event)"
    [usuarios]="usuarios$ | async"></app-usuario-listagem>

<app-usuario-pagamento 
    *ngIf="abrirModal"
    [pagamento]="pagamento"
    (efetuarPagamento)="onEfetuarPagamento($event)"
    (closeModal)="onFecharModal($event)"
    (selecionarCartao)="onSelecionarCartao($event)"
    [cartoes]="cartoes"></app-usuario-pagamento>

<app-usuario-notificacao 
    *ngIf="openNotificacao"
    [resultadoPagamentoResponse]="resultadoPagamentoResponse"></app-usuario-notificacao>