<app-usuario-listagem 
    (showModal)="onOpenModal($event)"
    (pagarUsuario)="onPagarUsuario($event)"
    [users]="users$ | async"></app-usuario-listagem>

<app-usuario-pagamento 
    *ngIf="showModal"
    [payload]="payload"
    (efetuarPagamento)="onEfetuarPagamento($event)"
    (closeModal)="onCloseModal($event)"
    (selecionarCartao)="onSelecionarCartao($event)"
    [cards]="cards"></app-usuario-pagamento>

<app-notifica-usuario 
    *ngIf="openNotificacao"
    [payloadResponse]="payloadResponse"></app-notifica-usuario>