$white: #fff;
$gray: rgb(209, 209, 209);

.button-style {
  background-color: $white;
  border-radius: 8px;
  padding: 10px;
  border: 1px solid $white;
  font-size: 18px;
  width: 100px;
  padding: 8px 25px;
  outline-style: none;
}
.button-style:hover {
    background-color: $gray;
    border: 1px solid $gray;
  }