<div class="head">
  <a routerLink="/" class="return">
    <i class="material-icons">
      chevron_left
    </i>
    Voltar
  </a>
  <span class="title">
    Realizar Pagamento
  </span>
</div>

<div class="card">
  <div class="header">
    <div class="user">
      <div class="picture">
        <img [src]="currentUser.img" alt="Imagem do usuário">
      </div>
      <div class="name">
        <div class="full">
          {{ currentUser.name }}
        </div>
        <div class="username">
          {{ currentUser.username }}
        </div>
      </div>
    </div>
  </div>
  <div class="content">
    <div class="how-much">
      Qual será o valor?
    </div>
    <div class="money-input">
      <input 
        currencyMask 
        [options]="{ align: 'center', prefix: 'R$ ', thousands: '.', decimal: ',' }" 
        [(ngModel)]="checkout.value"
        maxlength="8"
        (keyup)="valueChange()"
        [ngClass]="{enable: canPay}"/>
    </div>
    <a *ngIf="hasCard" class="payment-form" routerLink="/cartoes">
      <i class="material-icons">
        credit_card
      </i>
      <div class="info">
        <div class="form">
          Forma de pagamento
        </div>
        <div class="card-type">
          <strong>Cartão de Crédito</strong> com final <strong>{{ currentCard.card_number | cardMask: 'lastFour'}}</strong>
        </div>
      </div>
    </a>
    <a *ngIf="!hasCard" class="payment-form danger" routerLink="/novo-cartao">
      <i class="material-icons">
        credit_card
      </i>
      <div class="info">
        <div class="form">
          Você não possui cartão cadastrado
        </div>
        <div class="card-type">
          <strong>Cadastrar agora</strong>
        </div>
      </div>
    </a>
    <button class="btn btn-primary" (click)="sendPayment()">
      <ng-template [ngIf]="loading">
        <mat-spinner [diameter]="20"></mat-spinner>
      </ng-template>
      <ng-template [ngIf]="!loading">Pagar agora</ng-template>
    </button>
  </div>
</div>
