.header {
    display: flex;
    background-color: #2B513B;
    color: #fff;
    justify-content: center;
    margin: -24px -24px 5px -24px;
    padding: 5px;
    height: 50px;
}


.button {
    display: flex;
    justify-content: flex-end;
}
