h2 {
    font-size: 22px;
}

img.img-thumbnail.rounded-circle.error {
    position: absolute;
    top: -36%;
    width: 80px;
    left: 37.3%;
}

.modal-content{
    background-color: transparent !important;
  }