<mat-card class="card mat-elevation-z4" color="primary" *ngFor="let user of users">
    <div class="user" >
        <img [src]="user.img"/>
        <div class="info-wrapper">
            <div class="user-name">
                {{user.name}}
            </div>

            <div class="user-id-username">
                ID: {{user.id}} - Username: {{user.username}}
            </div>
        </div>

        <button mat-raised-button class="pay-button" (click)="payUser(user)">
            Pagar
        </button>
        <br />
        <div class="custome-user">
            <a routerLink="" class="edit">
                <i class="material-icons">
                    edit
                </i>
            </a>
            <a routerLink="" class="delete">
                <i class="material-icons">
                    delete
                </i>
            </a>
        </div>
    
    </div>
</mat-card>