.card {
    background-color: #2b513b;
    margin-top: 20px;
}

/* List of Users */

.user {
    color:  #fff;;
    padding: 20px;
    display: flex;
    align-items: center;
}
  
.user > img {
    border-radius: 50%;
    height: 80px;
    width: 80px;
}
  
.user > .info-wrapper {
    margin-left: 16px;
    line-height: 1.5;
}
  
.user > .pay-button {
    margin-left: auto;
}


.edit > i {
    color: rgb(48, 47, 47);
}

.delete > i {
    color: #E35E6B
}

.custome-user {
    margin-top: -120px;
    margin-right: -30px;
}

.custome-user i {
  margin-left: 5px;
}