<div class="payments" [class.full-page]="isFullPage">
  <div class="payments-not-found" *ngIf="payments && !payments.length">
    <h3>Sem pagamentos por aqui</h3>
    <img
      class="payments-not-found__image"
      src="/assets/payments_not_found.svg"
      alt="Payments not found"
    />
  </div>

  <div class="payments__payment">
    <ng-container *ngIf="payments; else loadingTemplate">
      <ngx-card-payment
        *ngFor="let payment of payments"
        [payment]="payment"
        [isFullPage]="isFullPage"
      >
      </ngx-card-payment>
    </ng-container>
  </div>
</div>

<ng-template #loadingTemplate>
  <ngx-card-payment *ngFor="let i of [1, 2, 3]" [isFullPage]="isFullPage"> </ngx-card-payment>
</ng-template>
