  <div class="users">
    <div class="users__list" *ngFor="let user of usersList$ | async ">
      <img class="users__img" [src]="user.img" />
      <div class="users__info">
        <div class="users__id">
          ID: {{user.id}}
        </div>
        <div class="users__name">
          {{user.name}}
        </div>
        <div class="users__username">
          Username: {{user.username}}
        </div>
      </div>
      <button type="button" class="users__btn" (click)='openModal(user.name, user.id, user.img)'>
          Pagar
      </button>
    </div>
  </div>