@import '../../../assets/style.mixins.scss';
.users {
  &__list {
    display: flex;
    flex-direction: column;
    color: #fff;
    background: linear-gradient(186.5deg, #689288 0.83%, #1d1e2a 100%);
    box-shadow: 0 1px 0 #ffffff, 0px -1px 0px #ffffff;
    align-items: center;
    padding: 20px 40px;
  }
  &__img {
    border-radius: 50%;
    height: 80px;
    width: 80px;
  }
  &__info {
    padding: 15px;
    align-self: center;
  }
  &__payment {
    display: flex;
  }
  @include picpayButton;
  &__btn {
    width: 230px;
  }
}

@media (min-width: 1115px) {
  .users {
    &__list {
      display: inline-flex;
      width: 31.9%;
      margin: 8px;
    }
  }
}
@media (min-width: 690px) and (max-width: 1114px) {
  .users {
    &__list {
      display: inline-flex;
      margin: 2px;
      width: 49.4%;
    }
  }
}
