.modal > .header > .title > span {
    color: #af4c4c;
    font-weight: bold;
}

.modal > .content > label {
    font-size: 0.85rem;
    font-weight: 500;
    color: #808080;
    margin-left: 0.4rem;
}

.float-right {
    float: right;
}

.error-message {
    text-align: center;
    font-size: 70%;
}