<div class="modal-backdrop">
    <div class="modal">
        <div class="header">
            <div class="title">
                Pagamento<span *ngIf="!success"> não</span> aprovado.
                <i class="fas fa-times" title="Cancelar" (click)="close()"></i>
            </div>
        </div>

        <div class="content">
            <div class="pull-left">
                <div class="mb-1">
                    <label>Destinatário:</label>
                    <app-user-card
                        [isPayableCard]="false"
                        [user]="recipientUser">
                    </app-user-card>
                </div>
                <div *ngIf="!success" class="mt-1">
                    <label style="text-align: center;">
                        Seu pagamento não foi aprovado por problemas internos. 
                        Sentimos muito o incômodo, mas tente novamente mais tarde ou entre em contato conosco. 
                    </label> 
                </div>
                <div class="mt-1">
                    <p>
                        Cartão
                        <span class="float-right">Final {{ getLastFourDigits(transaction.card_number) }}</span>
                    </p>
                    <p>
                        Data
                        <span class="float-right">{{ today }}</span>
                    </p>
                    <p>
                        Bla-Blah
                        <span class="float-right">Bla bla bla</span>
                    </p>
                    <p>
                        Valor
                        <span class="float-right">{{ formattedValue }}</span>
                    </p>
                </div>
            </div>
        </div>
        <div class="footer">
            <button 
                (click)="close()"
                type="submit" 
                class="btn btn-green">
                Fechar
            </button>
        </div>
    </div>
</div>