.payment-modal {
    &__field {
        width: 100%;
    }

    &__picture {
        display: inline-block;
        height: 60px;
        width: 60px;
        border-radius: 100%;
        overflow: hidden;
    }

    &__picture-container{
        text-align: center;
    }
    
    &__image {
        object-fit: contain;
        height: 100%;
        width: 100%;
    }

    &__title{
        &--strong{
            font-weight: bold;
        }
    }

}