@mixin picpayButton {
  &__btn {
    padding: 10px;
    margin-top: 10px;
    //width: 230px;
    border-radius: 20px;
    cursor: pointer;
    background: #11c76f;
    color: #ffffff;
    border: none;
  }
  &__btn:hover {
    background-color: #0d9855;
  }
  &__btn:focus {
    outline: 0;
  }
}
