:host {
  flex: 2;

  section {
    h1 {
      margin: 10px 20px;
    }

    .add-card-wrapper {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .mat-stroked-button {
        margin-right: 20px;
        height: 121px;
        width: 162px;

        color: #238662;

        .mat-icon {
          font-size: 38px;
          height: 38px;
          width: 38px;
        }

        span {
          display: block;
          font-size: 13px;
        }
      }
    }
  }
}
