<div class="pay-todo-modal">
  <form #payForm="ngForm" (ngSubmit)="payUserModal()" novalidate>
    <div class="pay-modal-head">
      <div class="title">Pagamento para <span>{{userModal.username}}</span>
      </div>
      <small class="small-text">{{userModal.name}}</small>
    </div>
    <div class="pay-modal-body">
      <input class="pay-input" type="number" placeholder="R$ 0,00" ngModel [value]="payForm.value.valueSend " name="valueSend"
        required #valueSend="ngModel" />
      <div class="cards">
        <select ngModel name="selectedCard" #selectedCard="ngModel" required>
          <option disabled selected>Please select your card...</option>
          <option *ngFor="let card of cards" [ngValue]="card">Cartão com final {{card.card_number.slice(12,16)}}
          </option>
        </select>
      </div>
      <button type="submit" class="pay-button-modal">
        Pagar
      </button>
    </div>
  </form>
</div>

<ng-template #modalMessage>
  <app-pay-message [successMessage]="message" [payModalMessage]="modalMessage"></app-pay-message>
</ng-template>