:host {
  .content-wrapper {
    display: flex;
    flex-direction: column;

    &.row {
      flex-direction: row;
      margin-bottom: 25px;
    }
  }

  app-selected-card {
    margin-right: 25px;
  }
}