.modal {
    background: var(--white);
    margin: 32px 0;
    width: 420px;
    border-radius: 6px;

    .title {
        background: var(--green);
        color: #ffffff;
        font-weight: 500;
        font-size: 16px;
        padding: 16px 24px;
    }

    .content {
        padding: 32px;
        text-align: center;
    }

    button {
        background: var(--green);
        color: var(--white);
        border: none;
        border-radius: 6px;
        font-size: 16px;
        height: 48px;
        width: 100%;
        padding: 0 8px;
        margin-top: 24px;
        cursor: pointer;

        &:hover{
            background: var(--dark-green);
        }
    }
}
