@import 'sass/variables';
@import 'sass/button';
@import 'sass/link';

$mdi-font-path: '~@mdi/font/fonts/';
@import '~@mdi/font/scss/materialdesignicons';

* {
  box-sizing: border-box;
  outline: none;
}

html,
body {
  background-color: $base-color;
  font-family: sans-serif;
  color: $secondary;
  margin: 0;
  padding: 0;
}

// SCROLL
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: rgba($secondary, .3);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba($secondary, .5);
}
