$responsive-breakpoint: 768px;

$primary-palette: (
  "main": #21c25e,
  "light": #66f68d,
  "dark": #009031,
  "contrast": (
    "main": #ffffff,
    "light": #000000,
    "dark": #ffffff,
  ),
);

$secondary-palette: (
  "main": #263224,
  "light": #4e5b4c,
  "dark": #090a09,
  "contrast": (
    "main": #ffffff,
    "light": #ffffff,
    "dark": #ffffff,
  ),
);

@function color($palette, $variant: "main") {
  @return map-get($palette, $variant);
}

@function text-color($palette, $variant: "main") {
  @return map-get(map-get($palette, "contrast"), $variant);
}

@mixin desktop-up {
  @media (min-width: $responsive-breakpoint) {
    @content;
  }
}
