$green: rgb(1, 134, 1);
$green-light: rgb(8, 170, 8);
$green-picpay: #5fc870;
$green-picpay-dark: #263224;
$gray: rgb(133, 133, 133);
$gray-dark: rgb(51, 51, 51);
$gray-icon: rgb(71, 71, 71);
$gray-placeholder: rgb(155, 155, 155);
$white: rgb(248, 248, 248);
$purple-picpay: #355ad6;
$red-error: rgb(211, 59, 59);
$modal-background: rgba(0, 0, 0, 0.5);
$black: rgb(3, 3, 3);
$background-light: rgb(236, 236, 236);