:host {
  header {
    display: flex;
    flex: 1;

    align-items: center;

    min-height: 63px;
    padding: 0 15px;
    margin-bottom: 25px;

    background-color: #fff;
    border-radius: 13px;

    .mat-icon {
      width: 34px;
      height: 34px;
      font-size: 34px;
      cursor: default;
      margin-left: auto;
      color: #00bd54;

      cursor: pointer;
    }

    img.account-circle {
      width: 48px;
      height: 48px;
    }

    h1 {
      font-size: 21px;
      margin-left: 10px;
      font-weight: 500;
    }
  }
}
