:host {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 0 48px 0;

    form {
        width: 360px;
        margin: 0 auto;

        @media (max-width: 576px) {
            width: 100%;
        }

        .mat-form-field {
            width: 100%;
        }
    }

    .app-dialog-content {
        @media (max-width: 576px) {
            width: 100%;
        }
    }
}