:host {
  .content-wrapper {
    display: flex;
    flex-direction: column;

    &.row {
      flex-direction: row;
      @media screen and (max-width: 728px) {
        flex-direction: column;
      }

      .content-wrapper {
        margin-bottom: 20px;

        &:first-child {
          flex: 2;
          margin-right: 20px;

          @media screen and (max-width: 728px) {
            flex: 1;
            margin-right: 0;
          }
        }

        &:last-child {
          flex: 1;
        }
      }
    }
  }

  app-selected-card {
    margin-bottom: 20px;
  }
}