$white: #ffffff;
$black: #000000;
$black-100: #222222;
$green-300: rgb(17,199,111);
$green-400: #11c76f;
$green-700: #0d9855;

$bg-gradient: linear-gradient(90deg, rgba(17,199,111,1) 0%, rgba(33,152,85,1) 100%);