$white: #ffffff;
$black: #000000;
$black-100: #222222;
$green-300: rgb(17,199,111);
$green-400: #11c76f;
$green-700: #0d9855;

$bg-gradient: linear-gradient(90deg, rgb(252, 252, 252) 0%, rgb(230, 236, 233) 100%);