<footer class="pp-footer">
    <div class="pp-content container">
        <div class="pp-logo">
            <a aria-label="Logo PicPay" href="/" target="_blank" rel="noreferrer" class="link">
                <img src="..\..\..\assets\Images\logo-footer.svg" alt="Logo PicPay" loading="lazy" decoding="async" /> 
             </a>
        </div>
        <ul class="pp-social">
            <li class="pp-social-item">
                <a aria-label="Facebook" href="https://www.facebook.com/PicPayBrasil" target="_blank" rel="noreferrer" class="link">
                   <img src="..\..\..\assets\Images\facebook.svg" alt="Logo Facebook" loading="lazy" decoding="async" width="42" height="43" /> 
                </a>
            </li>
            <li class="pp-social-item">
                <a aria-label="Instagram" href="https://instagram.com/picpay" target="_blank" rel="noreferrer" class="link">
                    <img src="..\..\..\assets\Images\instagram.svg" alt="Logo Instagram" loading="lazy" decoding="async" width="42" height="43" />
                </a>
            </li>
            <li class="pp-social-item">                
                <a aria-label="Twitter" href="https://twitter.com/picpay" target="_blank" rel="noreferrer" class="link">
                    <img src="..\..\..\assets\Images\twitter.svg" alt="Logo Facebook" loading="lazy" decoding="async" width="42" height="43" />
                </a>
            </li>
            <li class="pp-social-item">                
                <a aria-label="LinkedIn" href="https://www.linkedin.com/company/picpay/" target="_blank" rel="noreferrer" class="link">
                    <img src="..\..\..\assets\Images\LinkedIn.svg" alt="Logo LinkedIn" loading="lazy" decoding="async" width="42" height="43" /> 
                </a>
            </li>
            <li class="pp-social-item">                
                <a aria-label="Tik Tok" href="https://www.tiktok.com/@picpay" target="_blank" rel="noreferrer" class="link">
                    <img src="..\..\..\assets\Images\tiktok.svg" alt="Logo Tik Tok" loading="lazy" decoding="async" width="42" height="43" />
                </a>
            </li>
            <li class="pp-social-item">                
                <a aria-label="Youtube" href="https://www.youtube.com/user/PicPay" target="_blank" rel="noreferrer" class="link">
                    <img src="..\..\..\assets\Images\youtube.svg" alt="Logo Youtube" loading="lazy" decoding="async" width="42" height="43" />
            </a>
            </li>
        </ul>
    </div>
</footer>