<form class="modal" [formGroup]="paymentForm" (ngSubmit)="onSubmit()">
  <div class="modal__header">
    <div class="modal__title">Pagamento para <span>{{ destinationUser.name }}</span></div>
    <div class="modal__close-btn" (click)="onCloseBtn()">&#x2715;</div>
  </div>

  <div class="modal__content">  
    <img class="modal__img" src="{{ destinationUser.img }}" alt="foto de {{ destinationUser.name }}">

    <div class="modal__value">
      <label for="qnt" class="modal__label">Valor:</label>
      <input 
        id="qtd"
        class="modal__input" 
        type="number" 
        placeholder="R$ 0,00" 
        formControlName="value"
        />
        <div class="error-msg" *ngIf="!paymentForm.get('value').valid && paymentForm.get('value').touched" >
          Por favor, informe um valor.
        </div>
    </div>

    <div class="modal__cards">
      <label for="cards" class="modal__label">Cartão:</label>
      <select 
        id="cards"
        class="modal__select"
        formControlName="card"
        >
        <option 
          class="modal__cards-opt"
          *ngFor="let card of cards.cards"
          [ngValue]="card"
          >
          {{ card.card_number }}
        </option>
      </select>
    </div>

    <button type="submit" class="modal__pay-btn">
      Pagar
    </button>
  </div>
</form>