<div class="modal">
  <div class="modal__header">
    <div class="modal__title">Pagamento para: <span>{{ destinationUser.name }}</span></div>
    <div class="modal__close-btn" (click)="onCloseBtn()">&#x2715;</div>
  </div>

  <div class="modal__content">
    <input type="number" placeholder="R$ 0,00" class="modal__input" />

    <div class="modal__cards">
      <select class="modal__select">
        <option selected class="modal__select-opt">Cartão com final 0123</option>
      </select>
    </div>

    <button type="button" class="modal__pay-btn">
      Pagar
    </button>
  </div>
</div>