@import "src/styles.scss";

.list-card {
    margin: 0px 10px;

    .card-items{
        display: flex;
        align-items: center;
        color: $text;
        justify-content: space-between;
        
        mat-icon {
            margin-right: 5px;
        }
    }
}