@import "src/styles.scss";

.payment-card {
  margin: 0px 10px;
  display: flex;
  flex-direction: row;
  align-items: center;

  app-avatar {
    margin-right: 10px;
  }

  .info-wrapper {
    font-weight: 300;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: flex;
    flex-direction: column;

    .info-payment {
      display: flex;
      flex-direction: row;
      align-items: center;

      input {
        border-width: 0px;
        color: $primary-green;
        font-weight: bold;
        font-size: 18px;
        width: 100px;
        margin-right: 10px;

        &:focus {
          outline: none;
        }
      }

      .method-pay-button {
        display: flex;
        align-items: center;
        border: 0.5px solid $text;
        height: 21px;
        width: 65px;
        padding: 5px;
        border-radius: 16px;
        color: $text;
        cursor: pointer;
        h6 {
          white-space: nowrap;
          width: 12em;
          overflow: hidden;
          text-overflow: ellipsis;
        }
        &:hover {
          background-color: $text;
          color: white;
          cursor: pointer;
        }
      }
    }
  }
}

.pay-button {
  display: flex;
  margin: 5% auto 0px auto;
  width: 120px;
  height: 40px;
  border-radius: 20px;
}
