<app-header></app-header>
<mat-card class="payment-card">
  <app-avatar [url_image]="user.img"> </app-avatar>
  <div class="info-wrapper">
    <div class="user-name">{{ user.name }}</div>
    <div class="user-username">{{ user.username }}</div>

    <div class="info-payment">
      <form class="input-value">
        <input
          class="input-value"
          currencyMask
          [formControl]="valor"
          [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }"
        />
      </form>

      <div class="method-pay-button" (click)="openListCardModal()">
        <mat-icon aria-hidden="false" aria-label="Example home icon"
          >payment</mat-icon
        >
        <h6 *ngIf="card">{{ card }}</h6>
        <h6 *ngIf="!card">cartões</h6>
      </div>
    </div>
  </div>
</mat-card>

<div class="pay-button">
  <h6>Pagar</h6>
</div>
