<app-header></app-header>
<mat-card class="payment-card">
  <app-avatar [url_image]="user.img"> </app-avatar>
  <div class="info-wrapper">
    <div class="user-name">{{ user.name }}</div>
    <div class="user-username">{{ user.username }}</div>

    <div class="info-payment">
      <form class="input-value">
        <input
          class="input-value"
          currencyMask
          [formControl]="valuePayment"
          [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }"
        />
      </form>

      <div class="method-pay-button" (click)="openListCardModal()">
        <mat-icon aria-hidden="true" aria-label="Icone de cartão"
          >payment</mat-icon
        >
        <h6 *ngIf="card">{{ card.card_number }}</h6>
        <h6 *ngIf="!card">Cartões</h6>
      </div>
    </div>
  </div>
</mat-card>

<app-primary-green-button
  class="pay-button"
  [label]="'Pagar'"
  (click)="sendPayment()"
  [available]="available"
>
</app-primary-green-button>
