<div class="card">
  <div class="card-body">
    <img class="card-img" [src]="user.img">
    <div class="info-wrapper">
      <p class="card-title">
        {{ user.name }}
      </p>
      <p>
        {{ user.username }}
      </p>
    </div>
    <button type="button" class="btn btn-100" (click)="payUserModal(user)">
      Pagar
    </button>
  </div>
</div>

<ng-template #paymentMessageResponse>
  <ng-container [ngSwitch]="paymentStatus">
    <ng-container *ngSwitchCase="'Aprovada'">
      <p>O pagamento foi concluido com sucesso.</p>
    </ng-container>
    <ng-container *ngSwitchCase="'Reprovada'">
      <p>O pagamento <strong>não</strong> foi concluido com sucesso.</p>
    </ng-container>
  </ng-container>
</ng-template>