<ng-container *ngIf="isModalVisivel">
  <div class="modal-backdrop" (click)="close()"></div>
  <div class="modal">
    <div class="title">
      <div [innerHtml]="titulo"></div>
      <button type="button" class="close-button" (click)="close()"> X </button>
    </div>
  
    <div class="content">
      <ng-content></ng-content>
    </div>
  </div>
</ng-container>


  <!-- <div class="modal">
    <div class="title">
      Recibo de pagamento
    </div>

    <div class="content">
      O pagamento foi concluido com sucesso.<br />
      O pagamento <strong>não</strong> foi concluido com sucesso.
    </div>
  </div> -->